Repository Whitesands13/Whitesands, pull requests merged in 2020-10, with the labels that each got.

#491 Fix "cancel" button deleting all flavor text
  code/modules/client/preferences.dm
  waspstation/code/modules/mob/say_vr.dm
Labels: Fix

#488 Shuttle/Whiteship TGUI Fixes
  code/modules/mining/laborcamp/laborshuttle.dm
  code/modules/shuttle/computer.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/syndicate.dm
  tgui/packages/tgui/interfaces/ShuttleConsole.js
  tgui/public/tgui.bundle.js
Labels: Fix, TGUI

#497 Annotation fix take 1
  .github/workflows/turdis.yml
Labels: Fix, Github, invalid

#479 Make e-cigarettes require lighting and add e-cigars
  code/game/objects/items/cigs_lighters.dm
  code/modules/vending/cigarette.dm
  icons/mob/clothing/mask.dmi
  icons/obj/clothing/masks.dmi
  tgstation.dme
  waspstation/code/game/objects/items/ecigar.dm
Labels: Feature, Needs Testmerge, Sprites, Tweak

#500 Hotfix for ecigs
  code/game/objects/items/cigs_lighters.dm
Labels: Fix

#498 Fixes AAC Topic Breaking
  code/game/machinery/airlock_cycle_control.dm
  tgui/packages/tgui/interfaces/AdvancedAirlockController.js
  tgui/public/tgui.bundle.js
Labels: Fix, High Priority, TGUI

#492 Me and subtler are no longer multiline inputs
  code/modules/mob/living/emote.dm
  code/modules/mob/say.dm
  waspstation/code/modules/mob/say_vr.dm
Labels: Needs Vote, Tweak

#493 Fix vape clouds making reagents out of nothing
  code/game/objects/items/cigs_lighters.dm
Labels: Fix

#486 Scav mining doesn't cause roundstart atmos issues
  _maps/RandomRuins/SpaceRuins/scav_mining.dmm
Labels: Fix, Map Change

#499 Autodoc (Actually merging it into master edition)
  .github/workflows/autodoc.yml
  code/_globalvars/configuration.dm
  code/world.dm
Labels: Code Improvement, Github

#505 Revenants can now hear again
  code/modules/antagonists/revenant/revenant.dm
Labels: Fix

#506 AI Channel Fix and Borer Channel Change
  code/__DEFINES/say.dm
  waspstation/code/modules/antagonists/borer/borer.dm
Labels: Fix, Tweak

#501 [s] Fixes BS bodybag dplication glitch
  code/game/objects/items/bodybag.dm
Labels: Fix

#502 Add Quixote Hardsuit
  tgstation.dme
  waspstation/code/datums/quixotejump.dm
  waspstation/code/modules/clothing/spacesuits/hardsuits.dm
  waspstation/icons/mob/clothing/head.dmi
  waspstation/icons/mob/clothing/suits.dmi
  waspstation/icons/obj/clothing/hats.dmi
  waspstation/icons/obj/clothing/suits.dmi
Labels: Feature, Sprites

#508 Fix chat inputs
  code/modules/mob/say.dm
Labels: Fix

#489 Extends Pubby's engine airlocks and fixes a few pipes
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Fix, Map Change, Needs Testmerge

#509 Updates pressure relief valves to TGUI-4
  tgui/packages/tgui/interfaces/AtmosRelief.js
  tgui/public/tgui.bundle.js
  waspstation/code/modules/atmospherics/machinery/components/binary_devices/relief_valve.dm
  waspstation/code/modules/atmospherics/machinery/components/unary_devices/relief_valve.dm
Labels: Fix, TGUI

#510 drink resprites 2 electric boogaloo, 10 PM edition
  waspstation/icons/obj/drinks.dmi
Labels: Feature, Removal, Sprites

#512 Patched out vulnerability to Syndicate Virus Codename: Hardlock
  waspstation/code/modules/spacepods/spacepod.dm
Labels: Code Improvement, Fix

#495 Communications consoles can now control status of the night shift
  code/game/machinery/computer/communications.dm
Labels: Feature, Needs Vote

#494 Finally, a use for Peas.
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/food_and_drinks/food/snacks_salad.dm
  code/modules/food_and_drinks/food/snacks_soup.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_salad.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_soup.dm
  code/modules/hydroponics/grown/peas.dm
  icons/obj/food/donuts.dmi
  icons/obj/food/food.dmi
  icons/obj/food/soupsalad.dmi
  tgstation.dme
  waspstation/code/modules/food_and_drinks/food/snacks_meat.dm
  waspstation/code/modules/food_and_drinks/food/snacks_pastry.dm
  waspstation/code/modules/food_and_drinks/food/snacks_salad.dm
  waspstation/code/modules/food_and_drinks/food/snacks_soup.dm
  waspstation/code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  waspstation/code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  waspstation/code/modules/food_and_drinks/recipes/tablecraft/recipes_salad.dm
  waspstation/code/modules/food_and_drinks/recipes/tablecraft/recipes_soup.dm
  waspstation/code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Feature, Server, Sprites

#445 re:TerraGov
  tgstation.dme
  waspstation/code/datums/ert.dm
  waspstation/code/game/objects/items/cards_ids.dm
  waspstation/code/game/objects/items/melee/energy.dm
  waspstation/code/modules/antagonists/ert/ert.dm
  waspstation/code/modules/clothing/head/berets.dm
  waspstation/code/modules/clothing/head/helmet.dm
  waspstation/code/modules/clothing/outfits/SolGov.dm
  waspstation/code/modules/clothing/outfits/terragov.dm
  waspstation/code/modules/clothing/spacesuits/hardsuits.dm
  waspstation/code/modules/clothing/suits/armor.dm
  waspstation/code/modules/clothing/under/SolGov.dm
  waspstation/code/modules/clothing/under/terra.dm
  waspstation/code/modules/power/cell.dm
  waspstation/code/modules/projectiles/guns/energy/laser.dm
  waspstation/code/modules/projectiles/guns/energy/pulse.dm
  waspstation/icons/mob/clothing/head.dmi
  waspstation/icons/mob/clothing/suits.dmi
  waspstation/icons/mob/clothing/under/SolGov.dmi
  waspstation/icons/mob/clothing/under/terra.dmi
  waspstation/icons/obj/clothing/hats.dmi
  waspstation/icons/obj/clothing/suits.dmi
  waspstation/icons/obj/clothing/under/SolGov.dmi
  waspstation/icons/obj/clothing/under/terra.dmi
  waspstation/sound/weapons/SolGov_sword_arm.ogg
Labels: Balance/Rebalance, Feature, Removal, Sound, Sprites, Stale, Tweak

#503 Cap's Announcement Reports Name on Logged-In ID or Unknown
  code/__HELPERS/priority_announce.dm
  code/controllers/subsystem/communications.dm
  code/game/machinery/computer/communications.dm
Labels: Stale, Tweak

#519 Fixes SM pull
  code/modules/power/supermatter/supermatter.dm
Labels: Fix

#517 ports the kilo fix
  code/game/turfs/change_turf.dm
Labels: Fix

#518 Drink That Spriters Hate
  tgstation.dme
  waspstation/code/datums/components/outline.dm
  waspstation/code/modules/food_and_drinks/recipes/drinks_recipes.dm
  waspstation/code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  waspstation/icons/obj/drinks.dmi
Labels: Feature, Sprites, Tweak

#522 adds some marketable plushies
  code/game/objects/items/plushes.dm
  waspstation/code/modules/client/loadout/loadout_general.dm
  waspstation/icons/obj/plushes.dmi
  waspstation/sound/hornetnoises/Hornet_Fight_Death_01.ogg
  waspstation/sound/hornetnoises/hornet_SHAW.ogg
  waspstation/sound/hornetnoises/hornet_gitgud.ogg
Labels: Feature, Sound, Sprites

#520 Optimize Stat panel subsystem
  code/controllers/subsystem/statpanel.dm
  code/datums/browser.dm
  code/game/atoms.dm
  code/game/machinery/camera/tracking.dm
  code/game/objects/items/robot/robot_parts.dm
  code/modules/admin/verbs/SDQL2/SDQL_2_parser.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/verbs/cinematic.dm
  code/modules/admin/verbs/deadsay.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/verbs/suicide.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/mob_movement.dm
  html/statbrowser.html
  interface/interface.dm
Labels: Admin, Fix

#511 Added Recipient to PDA Message Input Box Title
  code/game/objects/items/devices/PDA/PDA.dm
Labels: Feature, Tweak

#528 trash bag of holding bounty fix
  code/modules/cargo/bounties/science.dm
Labels: Fix

#496 Add chat markup (Partial port from Aurora)
  code/__HELPERS/text.dm
  code/controllers/configuration/entries/game_options.dm
  code/game/say.dm
  code/modules/client/verbs/looc.dm
  code/modules/client/verbs/ooc.dm
  code/modules/mob/living/say.dm
  code/modules/mob/say.dm
  config/game_options.txt
Labels: Code Improvement, Config, Config Update, Feature, Port

#490 Really Robust Tape
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  tgstation.dme
  waspstation/code/datums/components/taped.dm
  waspstation/code/game/objects/items/stacks/tape.dm
  waspstation/code/modules/clothing/gloves/tapegloves.dm
  waspstation/icons/obj/clothing/gloves.dmi
  waspstation/icons/obj/tapes.dmi
  waspstation/sound/items/tape.ogg
Labels: Feature, Sound, Sprites

#529 Fix sticky movement keys
  code/__DEFINES/admin.dm
  code/controllers/subsystem/input.dm
  code/modules/client/client_defines.dm
  code/modules/client/verbs/reset_held_keys.dm
  code/modules/keybindings/bindings_client.dm
  code/modules/keybindings/setup.dm
  tgstation.dme
Labels: Fix, Refactor
