Repository Whitesands13/Whitesands, pull requests merged in 2020-03, with the labels that each got.

#85 Crew Transfer Vote
  Waspstation/code/controllers/subsystem/autotransfer.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/shuttle.dm
  code/controllers/subsystem/vote.dm
  config/config.txt
  tgstation.dme
Labels: Config Change, Feature, Port

#88 Gun power cell oversight fixes
  code/modules/power/cell.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/misc/beam_rifle.dm
  code/modules/ruins/lavalandruin_code/kinggoat.dm
  waspstation/code/modules/power/cell.dm
  waspstation/icons/obj/guns/energy.dmi
  waspstation/icons/obj/power.dmi
Labels: Fix, Rebalance

#96 Ports Citadel #11406: Minimaps
  code/controllers/configuration/entries/general.dm
  code/game/area/areas.dm
  html/blank.png
  tgstation.dme
  waspstation/code/controllers/subsystem/minimaps.dm
  waspstation/code/modules/client/verbs/minimap.dm
  waspstation/code/modules/mapping/minimaps.dm
Labels: Config Change, Feature, Port

#101 Renames blackpowder to gunpowder
  code/modules/cargo/bounties/reagent.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
  waspstation/code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Fix

#103 Emote fixes
  code/datums/emotes.dm
  waspstation/code/modules/mob/emote.dm
Labels: Fix

#104 Ethereal Quality of Life
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/power/lighting.dm
  goon/README.md
Labels: Port, Rebalance
