Repository Whitesands13/Whitesands, pull requests merged in 2020-05, with the labels that each got.

#149 Just Another Cargo Re-balance
  code/datums/atmosphere/planetary.dm
  code/modules/cargo/exports/large_objects.dm
  code/modules/cargo/packs.dm
  tgstation.dme
  waspstation/code/modules/cargo/bounties/engineering.dm
  waspstation/code/modules/cargo/exports/large_objects.dm
  waspstation/code/modules/cargo/packs.dm
Labels: Controversial, Needs Vote, Non-Modular, Removal/Revert

#159 Recolors plasma and reinforced plasma windows.
  icons/obj/smooth_structures/plasma_window.dmi
  icons/obj/smooth_structures/rplasma_window.dmi
  icons/obj/stack_objects.dmi
  icons/obj/structures.dmi
Labels: Non-Modular, Sprites

#170 fix potion
  code/modules/research/xenobiology/xenobiology.dm
Labels: Non-Modular

#168 Repeated ethereal charging
  code/modules/power/apc.dm
  code/modules/power/lighting.dm
Labels: Non-Modular

#173 Adds Flavourtext (someone end me)
  code/__HELPERS/mobs.dm
  code/datums/dna.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/mob.dm
  waspstation/code/modules/mob/say_vr.dm
Labels: Non-Modular

#176 Shard logging part 2
  code/datums/components/caltrop.dm
Labels: Non-Modular

#172 Slightly Improved Preferences Menu (Non-modularized)
  code/modules/client/preferences.dm
  code/modules/clothing/suits/toggles.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
Labels: Non-Modular

#164 Makes lavaland tendrils produce lava instead of chasms.
  code/game/objects/structures/lavaland/necropolis_tendril.dm
Labels: Non-Modular

#178 Removes swarmers
  code/datums/ruins/lavaland.dm
Labels: Non-Modular, Removal/Revert, headcoder approved 👍

#156 [Port] Citadel Atmos Adjustments and Relief Valves
  code/game/objects/items/RPD.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  code/modules/atmospherics/machinery/datum_pipeline.dm
  code/modules/power/generator.dm
  icons/obj/atmospherics/pipes/pipe_item.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/AtmosRelief.js
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/routes.js
  tgui/src/interfaces/atmos_relief.ract
  tgui/yarn.lock
  waspstation/code/modules/atmospherics/machinery/components/binary_devices/relief_valve.dm
  waspstation/code/modules/atmospherics/machinery/components/unary_devices/relief_valve.dm
  waspstation/icons/obj/atmospherics/components/relief_valve.dmi
  waspstation/icons/obj/atmospherics/pipes/pipe_item.dmi
Labels: Javascript, Non-Modular, Port, Sprites, TGUI, Testmerged, dependencies

#177 WT550 resprite
  code/modules/projectiles/guns/ballistic/automatic.dm
  icons/obj/guns/projectile.dmi
Labels: Non-Modular, Sprites

#181 Fixes Box Gateway (why me)
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Change

#183 Allows pAIs to go through door hatches
  code/modules/mob/living/silicon/pai/pai.dm
Labels: Non-Modular

#184 Actually loads saved Flavortext
  code/modules/client/preferences_savefile.dm
Labels: Non-Modular

#182 A New Syndicate Special Bundle: The Made Man
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
Labels: Feature, Needs Vote, Non-Modular

#175 Ports the Cat Surgeon turning people into cats from bee
  code/modules/mob/living/simple_animal/hostile/cat_butcher.dm
  code/modules/projectiles/projectile/bullets/dart_syringe.dm
Labels: Non-Modular

#186 Revenant can READ!
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  interface/stylesheet.dm
Labels: Non-Modular

#185 Fixes alternate jumpsuit selection
  code/modules/jobs/job_types/_job.dm
Labels: Non-Modular

#189 moves a few pubby library thingies around
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Change

#188 Nanite armor nerf
  code/modules/research/nanites/nanite_programs/buffing.dm
Labels: Non-Modular

#193 minor fix to hypercharged slime cells
  code/modules/research/xenobiology/crossbreeding/_misc.dm
Labels: Non-Modular

#163 Edits the sprite of the Ion Rifle, Temperature Gun, Pulse Rifle and Energy Gun.
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/energy/special.dm
  waspstation/icons/obj/guns/energy.dmi
Labels: Non-Modular, Sprites

#157 Adds in the Quadvolgue, a very popular and requested admin-only shotgun.
  waspstation/code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  waspstation/code/modules/projectiles/guns/ballistic/shotgun.dm
  waspstation/icons/mob/inhands/weapons/64x_guns_left.dmi
  waspstation/icons/mob/inhands/weapons/64x_guns_right.dmi
  waspstation/icons/obj/guns/projectile.dmi
  waspstation/sound/weapons/gun/shotgun/quadfire.ogg
  waspstation/sound/weapons/gun/shotgun/quadinsert.ogg
  waspstation/sound/weapons/gun/shotgun/quadrack.ogg
Labels: Sound, Sprites

#192 bee mutatoxins
  code/game/objects/items/stacks/sheets/mineral.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
Labels: Non-Modular

#197 "WIP" OOC Relay
  code/modules/client/verbs/ooc.dm
Labels: Discord Bot, Needs Testmerge, Non-Modular

#196 Gives synthflesh Instabitaluri's unhusking effect
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Non-Modular

#198 Increases emote input box size
  code/modules/mob/living/emote.dm
  code/modules/mob/say.dm
Labels: Non-Modular

#187 Ports full auto guns
  code/game/objects/items/robot/robot_items.dm
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/projectiles/ammunition/_firing.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/ammunition/caseless/misc.dm
  code/modules/projectiles/ammunition/energy/special.dm
  code/modules/projectiles/boxes_magazines/external/lmg.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/laser_gatling.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/toy.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/magic/staff.dm
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/projectiles/guns/misc/chem_gun.dm
  code/modules/projectiles/guns/misc/grenade_launcher.dm
  code/modules/projectiles/guns/misc/syringe_gun.dm
  code/modules/uplink/uplink_items.dm
  waspstation/code/modules/projectiles/guns/ballistic/automatic.dm
Labels: Non-Modular

#201 Finally,peas
  code/modules/hydroponics/grown/peas.dm
  code/modules/vending/megaseed.dm
  icons/obj/hydroponics/growing_vegetables.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
  tgstation.dme
Labels: Non-Modular, Sprites

#205 Better security jumpsuit sprites, plus for suits and chef
  _maps/map_files/Deltastation/DeltaStation2.dmm
  code/controllers/subsystem/traumas.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/security.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/security.dmi
  tools/mapmerge2/map_scripts/clothingunderrepath.txt
Labels: Map Change, Non-Modular, Sprites

#199 Removes Space Hotel
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/space.dm
Labels: Map Change, Non-Modular

#202 Expanded OOC Reporting and Bot Commands
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/ticker.dm
  code/datums/world_topic.dm
  code/modules/admin/admin.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/paperwork/faxmachine.dm
  tgstation.dme
  waspstation/code/datums/world_topic.dm
Labels: Admin, Discord Bot, Non-Modular, Testmerged

#210 new pwasma meme enviwo soots: only partially latex
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/under/jobs/Plasmaman/civilian_service.dm
  code/modules/clothing/under/jobs/Plasmaman/engineering.dm
  code/modules/clothing/under/jobs/Plasmaman/medsci.dm
  code/modules/clothing/under/jobs/Plasmaman/security.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/under/plasmaman.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/under/plasmaman.dmi
Labels: Non-Modular, Sprites

#211 Small QoL Brig additions
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  waspstation/code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Non-Modular

#214 EMP grenades break lights
  code/game/objects/items/grenades/emgrenade.dm
Labels: Non-Modular

#216 Swapped nukie implants order so you don't have to destroy your firearm auth to get a macrobomb
  code/game/gamemodes/nuclear/nuclear.dm
Labels: Non-Modular

#217 Adds flashproofing to CMO hardsuit
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
Labels: Non-Modular

#218 Adds plague doctor outfit to ViroDrobe contraband
  code/modules/vending/wardrobes.dm
Labels: Non-Modular

#209 Bee/Ike's Loadout System and Better-looking Berets
  code/__HELPERS/_lists.dm
  code/_globalvars/lists/flavor_misc.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/world.dm
  code/modules/cargo/packs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/verbs/ooc.dm
  code/modules/clothing/head/jobs.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
  code/modules/mob/mob.dm
  code/modules/vending/wardrobes.dm
  config/dbconfig.txt
  tgstation.dme
  waspstation/code/game/objects/structures/crates_lockers/closets/secure/security.dm
  waspstation/code/modules/client/loadout/loadout.dm
  waspstation/code/modules/client/loadout/loadout_accessories.dm
  waspstation/code/modules/client/loadout/loadout_eyewear.dm
  waspstation/code/modules/client/loadout/loadout_general.dm
  waspstation/code/modules/client/loadout/loadout_hat.dm
  waspstation/code/modules/client/loadout/loadout_ooc.dm
  waspstation/code/modules/client/loadout/loadout_suit.dm
  waspstation/code/modules/client/loadout/loadout_uniform.dm
  waspstation/code/modules/clothing/head/berets.dm
  waspstation/icons/mob/clothing/head.dmi
  waspstation/icons/obj/clothing/hats.dmi
Labels: Config, Non-Modular, Sprites

#220 Tanks now tell internal mol
  code/game/objects/items/tanks/tanks.dm
Labels: Non-Modular

#231 Fixes box's power issues.
  _maps/shuttles/mining_large.dmm
Labels: Map Change, headcoder approved 👍

#230 new pwasma meme enviwo skiwts 3: the coding while horny revision
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/under/jobs/Plasmaman/civilian_service.dm
  code/modules/clothing/under/jobs/Plasmaman/engineering.dm
  code/modules/clothing/under/jobs/Plasmaman/medsci.dm
  code/modules/clothing/under/jobs/Plasmaman/security.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/under/plasmaman.dmi
  icons/obj/clothing/under/plasmaman.dmi
Labels: Non-Modular, Sprites

#237 update TGUI's yarn lock to mitigate issues created by stale CRAs
  tgui/yarn.lock
Labels: TGUI, dependencies

#239 Fixes Pubby Disposals
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Change

#212 Adds subtler emotes
  code/__DEFINES/logging.dm
  code/__HELPERS/_logging.dm
  code/datums/emotes.dm
  code/game/atoms.dm
  code/modules/mob/mob.dm
  waspstation/code/modules/mob/say_vr.dm
Labels: Non-Modular, Stale

#213 Adds the grenade launcher to nukie uplink
  code/__DEFINES/inventory.dm
  code/modules/uplink/uplink_items.dm
Labels: Non-Modular, Stale

#225 Pet collar wearable
  code/modules/clothing/neck/_neck.dm
Labels: I'm so glad this is what I see at 1 in the morning, Non-Modular

#238 Improves Box Atmos Department and Decals
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Change

#219 New chaplain traitor item: Cult Construct Kit
  code/game/machinery/syndicatebeacon.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/uplink/uplink_items.dm
Labels: Non-Modular, Stale

#234 Makes armor multiplicative
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Non-Modular

#235 Nerfs nanite armor power drain
  code/modules/research/nanites/nanite_programs/buffing.dm
Labels: Non-Modular

#233 Bunch o' terragov stuff.
  _maps/map_files/generic/CentCom.dmm
  tgstation.dme
  waspstation/code/game/area/Space_Station_13_areas.dm
  waspstation/code/game/objects/items/melee/energy.dm
  waspstation/code/modules/clothing/outfits/terragov.dm
  waspstation/icons/mob/clothing/head.dmi
  waspstation/icons/mob/clothing/suits.dmi
  waspstation/icons/mob/inhands/weapons/swords_lefthand.dmi
  waspstation/icons/mob/inhands/weapons/swords_righthand.dmi
  waspstation/icons/obj/ammo.dmi
  waspstation/icons/obj/clothing/hats.dmi
  waspstation/icons/obj/clothing/suits.dmi
  waspstation/icons/obj/guns/projectile.dmi
  waspstation/icons/obj/items_and_weapons.dmi
  waspstation/sound/weapons/terragov_sword_arm.ogg
Labels: Map Change, Sound, Sprites

#222 Completely overhauls pubby's white ship to not be a big stinky.
  _maps/shuttles/whiteship_pubby.dmm
Labels: Map Change
