Repository Whitesands13/Whitesands, pull requests merged in 2020-12, with the labels that each got.

#598 Makes most languages hide their language icon if not understood
  code/modules/language/beachbum.dm
  code/modules/language/buzzwords.dm
  code/modules/language/calcic.dm
  code/modules/language/draconic.dm
  code/modules/language/moffic.dm
  code/modules/language/narsian.dm
  code/modules/language/piratespeak.dm
  code/modules/language/rylethian.dm
  code/modules/language/shadowtongue.dm
  code/modules/language/slime.dm
  code/modules/language/sylvan.dm
  code/modules/language/terrum.dm
  code/modules/language/voltaic.dm
  code/modules/language/xenocommon.dm
  waspstation/code/modules/language/dwarven.dm
Labels: Tweak

#606 Ports Citadel code to minimaps, fixing minimaps
  waspstation/code/controllers/subsystem/minimaps.dm
  waspstation/code/modules/client/verbs/minimap.dm
  waspstation/code/modules/mapping/minimaps.dm
Labels: Code Improvement, Fix, Removal

#610 Cam fixes, Blood banks, and Arrival fancy-ing
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Feature, Fix, Map Change, Tweak

#389 Galaxystation & Better MultiZ Support
  _maps/_basemap.dm
  _maps/galaxystation.json
  _maps/map_files/GalaxyStation/Galaxystation.dmm
  _maps/map_files/GalaxyStation/Galaxystation_LVL2.dmm
  code/__DEFINES/misc.dm
  code/game/machinery/computer/crew.dm
  code/game/machinery/firealarm.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/requests_console.dm
  code/game/objects/objs.dm
  code/game/objects/structures/extinguisher.dm
  code/game/objects/structures/watercloset.dm
  code/game/sound.dm
  code/modules/atmospherics/environmental/LINDA_system.dm
  code/modules/mapping/space_management/multiz_helpers.dm
  code/modules/power/cable.dm
  code/modules/power/multiz.dm
  code/modules/recycling/disposal/holder.dm
  config/maps.txt
  tgstation.dme
  waspstation/code/controllers/subsystem/jukeboxes.dm
  waspstation/code/game/machinery/cryopod.dm
  waspstation/code/game/turfs/open/floor/hull.dm
Labels: Config, Feature, Map Change

#569 String obfuscation in the repo
  .gitignore
  code/__DEFINES/subsystems.dm
  code/controllers/master.dm
  code/game/objects/objs.dm
  tgstation.dme
  tools/obfStringgenerator/main.cpp
  tools/obfStringgenerator/md5.cpp
  tools/obfStringgenerator/md5.h
  tools/obfStringgenerator/obfStringgenerator.sln
  tools/obfStringgenerator/obfStringgenerator.vcxproj
  tools/obfStringgenerator/obfStringgenerator.vcxproj.filters
  tools/obfStringgenerator/obfStringgenerator.vcxproj.user
  waspstation/code/controllers/subsystem/textobfs.dm
Labels: Code Improvement, Config, Feature, Fix, Map Change, Refactor

#605 Fixes seed extractors making thousands of seeds
  code/modules/hydroponics/seed_extractor.dm
Labels: Fix, Server

#603 Shuttles intercoms and firelocks
  _maps/map_files/MidwayStation/MidwayStation.dmm
  _maps/midwaystation.json
  _maps/shuttles/emergency_midway.dmm
  _maps/shuttles/whiteship_midway.dmm
  waspstation/code/datums/shuttles.dm
Labels: Feature, Fix, Map Change

#602 re:tools
  code/game/objects/items/devices/geiger_counter.dm
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/tools/wrench.dm
  waspstation/code/game/objects/items/devices/multitool.dm
  waspstation/code/game/objects/items/devices/wrench.dm
  waspstation/icons/mob/inhands/equipment/tools_lefthand.dmi
  waspstation/icons/mob/inhands/equipment/tools_righthand.dmi
  waspstation/icons/obj/clothing/belt_overlays.dmi
  waspstation/icons/obj/tools.dmi
Labels: Feature, Fix, Removal, Sprites

#616 Canister Fix
  waspstation/code/modules/atmospherics/machinery/portable/canister.dm
  waspstation/icons/obj/atmos.dmi
Labels: Fix, Sprites

#615 Sleeper Chembag Ejection Fix
  waspstation/code/game/machinery/Sleeper.dm
Labels: Fix

#604 re:pdas
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/PDA/PDA_types.dm
  tgstation.dme
  waspstation/code/game/objects/items/devices/PDA_types.dm
  waspstation/code/modules/jobs/job_types/brigphys.dm
  waspstation/icons/obj/pda.dmi
Labels: Feature, Fix, Removal, Sprites

#609 Disable Ethereal Charge Scaling While I Fix Corner-Case Bugs
  code/__DEFINES/mobs.dm
Labels: Balance/Rebalance, Fix

#608 Adds Cuban Pete's Classic Beats
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PackedStation/PackedStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/modules/vending/classicbeats.dm
  icons/obj/vending.dmi
  tgstation.dme
Labels: Feature, Map Change, Sprites

#622 Fixes #552
  _maps/RandomRuins/SpaceRuins/power_puzzle.dmm
Labels: Config, Fix, Grammar and Formatting, Map Change

#631 Mobility Hotfix
  code/_onclick/other_mobs.dm
Labels: Fix

#381 Please state the nature of the medical emergency: Departmental Emergency Holograms
  _maps/RandomRuins/StationRuins/Box/Engine/budget.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_singulo.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_sm.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_sm_1x3.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_sm_3x.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_sm_5x5.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_teg.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_tesla.dmm
  code/_globalvars/lists/poll_ignore.dm
  code/_onclick/hud/generic_dextrous.dm
  code/_onclick/hud/holograms.dm
  code/game/machinery/hologram.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/belt.dm
  code/modules/mob/living/carbon/hologram/em_holopads.dm
  code/modules/mob/living/carbon/hologram/hologram.dm
  code/modules/mob/living/carbon/hologram/hologram_inventory.dm
  icons/obj/stationobjs.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/Holopad.js
  tgui/public/tgui.bundle.js
Labels: Javascript, Map Change, Needs Testmerge, Non-Modular, Sprites, TGUI

#611 makes tatp explosion scale with reaction volume, buffs the everliving hell out of RDX
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Stale, Tweak

#623 Swaps the jaws of life tool sprites
  waspstation/icons/obj/tools.dmi
Labels: Fix, Sprites

#635 Adds Left-out SolGov Assets
  _maps/map_files/GalaxyStation/Galaxystation_LVL2.dmm
  code/game/area/Space_Station_13_areas.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/objects/structures/door_assembly_types.dm
  icons/obj/doors/airlocks/station/solgov.dmi
  icons/turf/areas.dmi
  waspstation/code/game/area/Space_Station_13_areas.dm
  waspstation/code/modules/clothing/outfits/SolGov.dm
  waspstation/code/modules/clothing/suits/armor.dm
  waspstation/code/modules/projectiles/guns/energy/pulse.dm
Labels: Feature, Map Change, Sprites, Tweak

#624 Fixes tendril moving
  code/modules/ruins/objects_and_mobs/ash_walker_den.dm
Labels: Fix

#625 drink resprites
  waspstation/icons/obj/drinks.dmi
Labels: Feature, Sprites

#621 New golem ship
  _maps/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
Labels: Feature, Map Change

#618 Merge moth, and spider eyes into compound eyes
  code/game/objects/effects/spawners/lootdrop.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/surgery/organs/eyes.dm
  tgstation.dme
  waspstation/code/modules/mob/living/carbon/human/species_types/spider.dm
  waspstation/code/modules/surgery/organs/eyes.dm
  waspstation/icons/obj/surgery.dmi
Labels: Feature, Sprites

#628 Adds Carp Spawners to Galaxy and Packed
  _maps/map_files/GalaxyStation/Galaxystation.dmm
  _maps/map_files/MidwayStation/MidwayStation.dmm
  _maps/map_files/PackedStation/PackedStation.dmm
Labels: Feature, Map Change

#638 minor kilo PR
  _maps/kilostation.json
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/shuttles/whiteship_kilo.dmm
Labels: Feature, Map Change

#636 removes memento mori from lavaland loots
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Removal

#649 Map Maintenance
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/PackedStation/PackedStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/generic/CentCom.dmm
  code/game/machinery/gulag_teleporter.dm
Labels: Do not merge, Fix, Map Change

#656 fixes a bunch of wallmounts i missed on kilo
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Map Change

#655 sprite maintenance
  code/game/objects/items/storage/lockbox.dm
  code/modules/projectiles/guns/ballistic/toy.dm
  icons/mob/clothing/head.dmi
  waspstation/code/modules/projectiles/guns/ballistic/derringer.dm
  waspstation/icons/mob/clothing/suits.dmi
  waspstation/icons/obj/clothing/belt_overlays.dmi
  waspstation/icons/obj/clothing/suits.dmi
  waspstation/icons/obj/guns/projectile.dmi
  waspstation/icons/obj/storage.dmi
Labels: Feature, Fix, Removal, Sprites

#644 adds a bunch of wine flavors for produce wine reagents
  code/modules/hydroponics/grown/ambrosia.dm
  code/modules/hydroponics/grown/apple.dm
  code/modules/hydroponics/grown/beans.dm
  code/modules/hydroponics/grown/berries.dm
  code/modules/hydroponics/grown/cannabis.dm
  code/modules/hydroponics/grown/chili.dm
  code/modules/hydroponics/grown/citrus.dm
  code/modules/hydroponics/grown/cocoa_vanilla.dm
  code/modules/hydroponics/grown/flowers.dm
  code/modules/hydroponics/grown/garlic.dm
  code/modules/hydroponics/grown/grass_carpet.dm
  code/modules/hydroponics/grown/kudzu.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/hydroponics/grown/mushrooms.dm
  code/modules/hydroponics/grown/nettle.dm
  code/modules/hydroponics/grown/random.dm
  code/modules/hydroponics/grown/spaceflora.dm
Labels: Feature, Stale

#637 Solgov offices on metastation
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Feature, Map Change, Removal

#659 Missed some wall mounts on Box
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Feature, Fix, Map Change

#651 Compound eyes - Revert changes to Rachid eyes, make compound eyes less overpowered.
  code/game/objects/effects/spawners/lootdrop.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  waspstation/code/modules/mob/living/carbon/human/species_types/spider.dm
  waspstation/code/modules/surgery/organs/eyes.dm
Labels: Balance/Rebalance, Removal

#647 Makes moving between z-levels much less annoying
  code/__DEFINES/keybinding.dm
  code/game/turfs/turf.dm
  code/modules/mob/mob_movement.dm
  tgstation.dme
  waspstation/code/__DEFINES/keybinding.dm
  waspstation/code/datums/keybinding/movement.dm
Labels: Feature, Fix, Tweak

#597 [Contest Entry] Speedway Away Mission
  _maps/RandomZLevels/speedway.dmm
  code/game/objects/items/manuals.dm
  config/awaymissionconfig.txt
  tgstation.dme
  waspstation/code/modules/awaymissions/mission_code/speedway.dm
Labels: Config, Feature, Map Change

#667 Re-Adds Plant DNA circuitboard to the Service techfab
  code/modules/research/designs/machine_designs.dm
Labels: Feature, Fix

#668 Port Citadel's fix for Arachnid Cocoons
  waspstation/code/modules/mob/living/carbon/human/species_types/spider.dm
Labels: Fix, Removal

#662 Minor Preferences Bugfix
  code/_globalvars/lists/flavor_misc.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
Labels: Fix, Tweak

#672 Changing Poster Fix
  code/game/objects/effects/contraband.dm
Labels: Fix
