Repository Whitesands13/Whitesands, pull requests merged in 2020-06, with the labels that each got.

#242 thou n t not-glockn't 2 - the morgan smittenburg remorese edition
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  waspstation/code/modules/projectiles/guns/ballistic/automatic.dm
  waspstation/icons/obj/guns/projectile.dmi
Labels: I made a label for this, Non-Modular, Sprites, god is dead

#243 Raises the amount of metacoins you gain for stuff
  code/__DEFINES/~wasp_defines/metacoin.dm
Labels: Non-Modular

#215 Adds lethal autoturrets to nuke operative uplink
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/syndicatebeacon.dm
  code/modules/uplink/uplink_items.dm
Labels: Non-Modular, Stale

#224 Porting my ruins
  tgstation.dme
  waspstation/code/datums/ruins/space.dm
  waspstation/code/game/area/areas/ruins/space.dm
  waspstation/code/game/maps/ruins/Space/Fast_Food.dmm
  waspstation/code/game/maps/ruins/Space/power_puzzle.dmm
  waspstation/code/game/maps/ruins/Space/scav_mining.dmm
Labels: Map Change

#250 Ayy gear console now tells you that nothing is free in this world
  code/modules/antagonists/abductor/machinery/console.dm
Labels: Non-Modular, headcoder approved 👍

#256 Adds sticky tape to vendomat
  code/modules/vending/assist.dm
Labels: Non-Modular

#260 Asexual Augmentation
  icons/mob/augmentation/augments.dmi
Labels: Non-Modular, Sprites

#254 Takes away paramedic bowman
  code/modules/jobs/job_types/paramedic.dm
  waspstation/code/game/objects/items/devices/radio/headset.dm
Labels: Non-Modular

#226 Spider Race
  code/__DEFINES/is_helpers.dm
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/game/machinery/limbgrower.dm
  code/game/machinery/scan_gate.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/research/nanites/nanite_programs/sensor.dm
  icons/mob/human_parts.dmi
  strings/names/spider_first.txt
  strings/names/spider_last.txt
  tgstation.dme
  tgui/packages/tgui/interfaces/ScannerGate.js
  waspstation/code/game/objects/effects/spiderperson_web.dm
  waspstation/code/modules/language/language_holder.dm
  waspstation/code/modules/language/spider.dm
  waspstation/code/modules/mob/living/carbon/human/species_types/spider.dm
  waspstation/icons/mob/spider.dmi
  waspstation/icons/mob/spider_legs.dmi
  waspstation/icons/mob/spider_mandibles.dmi
  waspstation/icons/mob/spider_parts.dmi
  waspstation/icons/mob/spider_spinneret.dmi
  waspstation/tools/generate-spider-names.sh
  waspstation/tools/spidernames.js
Labels: Admin, Config, Do not merge, Feature, Javascript, Non-Modular, Sprites, TGUI

#255 Radiation fix
  code/datums/radiation_wave.dm
Labels: Non-Modular

#265 remove plasma HoS combat gloves
  code/modules/clothing/outfits/plasmaman.dm
Labels: Non-Modular

#270 Fixes bug with malf AI camera upgrade module
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
Labels: Non-Modular

#263 [Port] Hardsuit helmets can now be used as internals masks.
  code/__DEFINES/inventory.dm
  code/__DEFINES/obj_flags.dm
  code/_globalvars/bitfields.dm
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items/tanks/tanks.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/masks/boxing.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/hailer.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/life.dm
Labels: Non-Modular

#262 Pais get Crew Manifest and Digital Messenger for free
  code/_onclick/hud/pai.dm
  code/modules/mob/living/silicon/pai/software.dm
Labels: Non-Modular

#261 Stamina and health damage stack
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/status_procs.dm
Labels: Non-Modular

#282 Fixes nanite adrenals.
  code/modules/research/nanites/nanite_programs/buffing.dm
Labels: Non-Modular

#284 renames the "oh hi mark" to the "oh hi marg"
  _maps/shuttles/emergency_imfedupwiththisworld.dmm
Labels: Map Change

#285 Removes spectral blade's force-orbit
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Non-Modular

#278 Fuck windows
  code/game/objects/structures/window.dm
Labels: Non-Modular

#283 Genetic Sequence Scanner recipe consistent naming
  code/modules/research/designs/medical_designs.dm
Labels: Non-Modular

#248 add CMO, RD, CE to protected jobs list for traitor mode
  code/game/gamemodes/traitor/traitor.dm
  config/game_options.txt
  tgstation.dme
  waspstation/code/controllers/configuration/entries/game_options.dm
Labels: Config, Non-Modular

#292 Even more gen/sci split
  code/modules/jobs/job_types/geneticist.dm
Labels: Non-Modular

#290 Less Murderbone Traitors
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Non-Modular

#273 The Golden Bolt Returns, but weaker
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/projectiles/projectile/energy/stun.dm
  icons/obj/guns/energy.dmi
  waspstation/code/modules/cargo/packs.dm
Labels: Non-Modular, Sprites

#302 Adds cheap sunglasses
  code/modules/vending/clothesmate.dm
  tgstation.dme
  waspstation/code/modules/client/loadout/loadout_eyewear.dm
  waspstation/code/modules/clothing/glasses/_glasses.dm
Labels: Non-Modular

#267 Adds new help emotes
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Non-Modular

#305 Catgrill
  tgstation.dme
  waspstation/code/modules/cargo/packs.dm
  waspstation/code/modules/food_and_drinks/kitchen_machinery/catgrill.dm
  waspstation/icons/obj/kitchen.dmi
Labels: Sprites

#309 Remember how we need atmos to breath and how there was a missing pipe on box because brain was fucky?
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Change

#307 Dorf Tweaks
  code/modules/mob/living/carbon/carbon.dm
  waspstation/code/modules/mob/living/carbon/human/species_types/dwarves.dm
Labels: Non-Modular

#295 Opens up Delta Atmos
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Map Change

#294 Meta Atmos and Foyer Update
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Change

#310 Improves lowpop map rotation
  code/controllers/subsystem/persistence.dm
Labels: Non-Modular

#279 just cargo things
  code/game/objects/items/stacks/bscrystal.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/cargo/packs.dm
  waspstation/code/modules/cargo/packs.dm
Labels: Non-Modular

#315 Fixes a missing tile in Meta Engineering
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Change

#252 Makes enviroskirts linked to the suitskirt pref
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: Non-Modular

#317 [Port] Nightmare now properly spawns with Lighteater #50174
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
Labels: Non-Modular
