Repository Whitesands13/Whitesands, pull requests merged in 2020-01, with the labels that each got.

#4 Berets
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/head/jobs.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Needs Vote

#2 Squidpeople
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/say.dm
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/__HELPERS/names.dm
  code/_globalvars/lists/flavor_misc.dm
  code/_globalvars/lists/names.dm
  code/game/machinery/limbgrower.dm
  code/game/objects/effects/decals/cleanable/food.dm
  code/game/say.dm
  code/modules/admin/create_mob.dm
  code/modules/antagonists/abductor/equipment/glands/transform.dm
  code/modules/chatter/chatter.dm
  code/modules/client/asset_cache.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  code/modules/language/language.dm
  code/modules/language/rylethian.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/squidpeople.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  code/modules/surgery/organs/tongue.dm
  html/sga.ttf
  icons/misc/language.dmi
  icons/mob/actions.dmi
  icons/mob/human_parts_greyscale.dmi
  icons/mob/mutant_bodyparts.dmi
  icons/obj/food/food.dmi
  icons/obj/surgery.dmi
  interface/stylesheet.dm
  strings/names/squid.txt
  tgstation.dme
Labels: Merge Conflict, Needs Testmerge

#8 riot shotguns on the cargo console
  code/modules/cargo/packs.dm
Labels: Vote Passed

#11 Map Reverts
  _maps/RandomZLevels/research.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/__DEFINES/jobs.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/admin/verbs/mentors_edit.dm
  code/modules/antagonists/devil/devil_helpers.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/under/jobs/medical.dm
  code/modules/clothing/under/jobs/rnd.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/jobs.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/under/medical.dmi
  icons/mob/clothing/under/rnd.dmi
  icons/mob/inhands/equipment/backpack_lefthand.dmi
  icons/mob/inhands/equipment/backpack_righthand.dmi
  icons/obj/clothing/under/medical.dmi
  icons/obj/clothing/under/rnd.dmi
  icons/turf/areas.dmi
  strings/ion_laws.json
  tools/mapmerge2/map_scripts/clothingunderrepath.txt
Labels: Needs Vote

#13 Exowear Pockets
  code/datums/components/storage/concrete/pockets.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/_suits.dm
  code/modules/clothing/suits/cloaks.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/reactive_armour.dm
  code/modules/clothing/suits/toggles.dm
Labels: Feature, Needs Vote

#17 Adds Give Verb (Port from Oracle/Para)
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/give.dm
  tgstation.dme
Labels: Needs Testmerge, Needs Vote, Port

#15 Request Consoles in Every Department
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Feature

#16 TGS DIscord Restart Command
  code/modules/admin/chat_commands.dm
Labels: Admin

#10 Beepsky nulls
  code/modules/cargo/packs.dm
  code/modules/mob/living/simple_animal/bot/SuperBeepsky.dm
Labels: Controversial, Feature, Needs Vote

#18 Playercount on Status Panel
  code/modules/mob/mob.dm
Labels: Port
