Repository Whitesands13/Whitesands, pull requests merged in 2020-11, with the labels that each got.

#515 Ethereal No-Charge Icon Appears when Charge Reaches Zero
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Fix

#525 Decreased Ethereal Discharge Rate
  code/__DEFINES/mobs.dm
Labels: Balance/Rebalance

#533 look at all of my fancy pens
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/obj/bureaucracy.dmi
Labels: Feature, Sprites

#516 Adds Gas Miners to Atmos on Station Maps
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Feature, Map Change

#530 Weapon Powercells: Spritercode edition
  code/game/machinery/cell_charger.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/misc/beam_rifle.dm
  code/modules/research/designs/power_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/power.dmi
  waspstation/code/modules/power/cell.dm
  waspstation/icons/obj/power.dmi
Labels: Code Improvement, Feature, Sprites

#513 Bumps default client FPS to 60 FPS
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
Labels: Config, Non-Modular, Stale, Tweak

#531 fixes soem fucked pipe
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Change

#484 Fixes Paper in faxes and on doors
  code/datums/components/honkspam.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/votingbox.dm
  code/modules/admin/topic.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paperbin.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PaperSheet.js
  tgui/public/tgui.bundle.js
Labels: Admin, Administration, Fix, Port, TGUI

#543 fixes security crates not having any access restrictions
  code/modules/cargo/packs.dm
  waspstation/code/modules/cargo/packs.dm
Labels: Fix

#534 adds dylovene to vanilla pods
  code/modules/hydroponics/grown/cocoa_vanilla.dm
Labels: Feature, Tweak

#536 Ethereal Color Change via Multitool
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Feature

#514 add colt 1911 ammo design disk to cargo ruin
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  tgstation.dme
  waspstation/code/modules/projectiles/boxes_magazines/pistol.dm
Labels: Code Improvement, Feature, Map Change, Stale

#527 moves the shitty .38 derringer out of the oddity loot pool and into the uncommon loot pool for maint
  code/_globalvars/lists/maintenance_loot.dm
Labels: Tweak

#537 Actually Finishing the gun cells
  code/game/objects/items/storage/belt.dm
  code/modules/power/cell.dm
  code/modules/research/designs/power_designs.dm
  code/modules/research/designs/weapon_designs.dm
  tgstation.dme
  waspstation/code/modules/power/cell.dm
Labels: Removal, Stale, Tweak

#545 Webedit Spritercode Time: Bag rebalancing, Welding protection fits in your toolbelt
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/belt.dm
  waspstation/code/game/objects/items/storage/bags.dm
Labels: Balance/Rebalance, Code Improvement

#541 Digi-magboots
  code/__DEFINES/~wasp_defines/obj_flags.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/mob/living/carbon/human/species.dm
  tgstation.dme
  waspstation/code/game/machinery/suit_storage_unit.dm
  waspstation/code/modules/clothing/shoes/_shoes.dm
  waspstation/code/modules/clothing/shoes/magboots.dm
  waspstation/icons/mob/clothing/digialt.dmi
  waspstation/icons/mob/clothing/feet.dmi
  waspstation/icons/obj/clothing/shoes.dmi
Labels: Feature, Sprites, Stale

#550 Finally, a variable for the text from dry firing! (blowpipe text and sound tweak too)
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/misc/syringe_gun.dm
Labels: Good First Issue, Refactor, Tweak

#542 lieutenant envirosuit and skirt and lieutenant+brigphys hud icons too
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/under/jobs/Plasmaman/civilian_service.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/under/plasmaman.dmi
  icons/mob/hud.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/under/plasmaman.dmi
Labels: Sprites

#540 [DNM] Ministation 2 - Electric FREAKIN' Boogaloo
  _maps/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
  _maps/_basemap.dm
  _maps/map_files/PackedStation/PackedStation.dmm
  _maps/packedstation.json
  _maps/shuttles/arrival_packed.dmm
  _maps/shuttles/cargo_packed.dmm
  _maps/shuttles/emergency_packed.dmm
  _maps/shuttles/mining_packed.dmm
  code/datums/shuttles.dm
  code/game/machinery/computer/communications.dm
  config/maps.txt
  config/unbuyableshuttles.txt
  tgstation.dme
  waspstation/code/datums/shuttles.dm
  waspstation/code/game/objects/effects/spawners/structure.dm
  waspstation/code/game/objects/structures/curtains.dm
Labels: Config, Do not merge, Feature, Map Change

#551 Only natural-ish haircolors are generated randomly
  code/__HELPERS/text.dm
  code/modules/admin/create_mob.dm
Labels: Admin, Tweak

#557 Makes the default view options the ones everyone actually uses
  code/modules/client/preferences.dm
Labels: Tweak

#563 Fixes Turdis
  .github/workflows/turdis.yml
Labels: Fix, Github, High Priority, RED LABEL, del: God

#568 Fixes Packed viro button
  _maps/map_files/PackedStation/PackedStation.dmm
Labels: Fix, Map Change

#562 Wack BSMs with the nerf bat.
  code/modules/mining/machine_bluespaceminer.dm
  waspstation/code/game/objects/items/circuitboards/machine_circuitboards.dm
Labels: Balance/Rebalance

#570 firefighter helmets are back, mining hardhat receives buffs
  code/modules/clothing/head/hardhat.dm
Labels: Balance/Rebalance, Fix

#567 Scale Up Ethereal Charge
  code/__DEFINES/mobs.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/power/apc.dm
  code/modules/power/cell.dm
  code/modules/power/lighting.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/religion/religion_sects.dm
  code/modules/surgery/organs/stomach.dm
Labels: Balance/Rebalance, Fix, Tweak

#577 gives the CMO advanced hypospray kit the upgraded trek chems
  waspstation/code/modules/reagents/reagent_containers/hypovial.dm
Labels: Balance/Rebalance

#576 bicaridine plus no longer requires plasma as a catalyst
  waspstation/code/modules/reagents/chemistry/recipes/medicine.dm
Labels: Tweak

#546 MidwayStation
  _maps/_basemap.dm
  _maps/map_files/MidwayStation/MidwayStation.dmm
  _maps/midwaystation.json
  _maps/shuttles/whiteship_midway.dmm
  code/datums/shuttles.dm
  code/game/area/areas/shuttles.dm
  config/maps.txt
Labels: Config, Feature, Map Change

#471 Sleeper rework(?)
  code/modules/research/bepis.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/Sleeper.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
  waspstation/code/game/machinery/Sleeper.dm
  waspstation/code/game/objects/items/circuitboards/machine_circuitboards.dm
  waspstation/code/modules/reagents/reagent_containers/bottle.dm
Labels: Feature, Removal, TGUI

#549 Loadout/Preferences Tweaks II
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/jobs/job_types/_job.dm
  waspstation/code/modules/client/loadout/loadout.dm
  waspstation/code/modules/client/loadout/loadout_hat.dm
  waspstation/code/modules/clothing/head/berets.dm
  waspstation/icons/mob/clothing/head.dmi
  waspstation/icons/obj/clothing/hats.dmi
Labels: Feature, Fix, Sprites, Tweak

#592 fixes connector icons
  code/modules/atmospherics/machinery/components/unary_devices/portables_connector.dm
Labels: Fix

#585 Admin Fax fixes
  code/modules/paperwork/paper.dm
Labels: Administration, Feature, Fix

#578 [Fix] Packedstation compiled fixes
  _maps/map_files/PackedStation/PackedStation.dmm
Labels: Fix, Map Change

#580 Void melons
  _maps/RandomRuins/SpaceRuins/asteroid1.dmm
  _maps/RandomRuins/SpaceRuins/asteroid2.dmm
  _maps/RandomRuins/SpaceRuins/asteroid3.dmm
  _maps/RandomRuins/SpaceRuins/asteroid4.dmm
  _maps/RandomRuins/SpaceRuins/asteroid5.dmm
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  code/modules/hydroponics/grown/spaceflora.dm
  icons/obj/hydroponics/growing_fruits.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
  icons/obj/lavaland/ash_flora.dmi
  tgstation.dme
Labels: Code Improvement, Feature, Map Change, Sprites

#586 Misc. Lighting Fixes
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/layers.dm
  code/_onclick/hud/plane_master.dm
  code/datums/chatmessage.dm
  code/datums/components/overlay_lighting.dm
  code/game/atoms.dm
  code/game/mecha/mecha.dm
  code/game/mecha/working/ripley.dm
  code/game/objects/effects/misc.dm
  code/game/objects/effects/overlays.dm
  code/modules/lighting/lighting_turf.dm
  code/modules/mob/say.dm
  icons/effects/lighting_object.dmi
Labels: Feature, Fix, Sprites

#594 Fixes Improvised Jetpack
  code/game/objects/items/tanks/jetpack.dm
Labels: Fix

#591 Decal Painter UI Fix
  code/modules/research/techweb/all_nodes.dm
  waspstation/code/game/objects/items/airlock_painter.dm
  waspstation/code/modules/research/designs/autolathe_designs.dm
Labels: Fix, Tweak

#581 Adds additional bypass for people exempted from job requirements
  code/modules/jobs/job_types/_job.dm
Labels: Feature, Tweak

#587 Give Senior Uniform to Chadmos
  code/modules/jobs/job_types/atmospheric_technician.dm
Labels: Fix

#548 Kiloproovements
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/shuttles/mining_common_kilo.dmm
  _maps/shuttles/mining_kilo.dmm
  _maps/shuttles/whiteship_kilo.dmm
Labels: Feature, Fix, Github, Map Change, Removal, Tweak

#600 Kilo Hotfix
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Map Change

#588 Midway fixes
  _maps/map_files/MidwayStation/MidwayStation.dmm
Labels: Feature, Fix, Map Change

#584 the botany chem fixes+
  code/modules/hydroponics/grown/chili.dm
  code/modules/hydroponics/grown/kudzu.dm
  code/modules/hydroponics/grown/mushrooms.dm
  code/modules/hydroponics/hydroponics.dm
Labels: Feature, Fix, Tweak

#596 Adds Kobolds and replaces ashwalkers with them
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/ruins/objects_and_mobs/ash_walker_den.dm
  waspstation/code/modules/mob/living/carbon/human/human.dm
  waspstation/code/modules/reagents/chemistry/reagents/other_reagents.dm
  waspstation/code/modules/reagents/chemistry/recipes/others.dm
Labels: Balance/Rebalance, Feature, Tweak
