Repository Whitesands13/Whitesands, pull requests merged in 2020-07, with the labels that each got.

#251 Alternate job titles
  code/__HELPERS/game.dm
  code/controllers/subsystem/job.dm
  code/datums/datacore.dm
  code/datums/outfit.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/human/inventory.dm
  tgstation.dme
  waspstation/code/modules/jobs/job.dm
  waspstation/code/modules/jobs/job_types/_alt_titles.dm
Labels: Non-Modular, Stale

#306 makes the hos gun things again
  code/modules/projectiles/ammunition/energy/special.dm
  code/modules/projectiles/ammunition/energy/stun.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  waspstation/icons/obj/guns/energy.dmi
Labels: Non-Modular, Sprites

#316 Jake from The Syndicate (Lone Op Alternative)
  code/game/gamemodes/nuclear/nuclear.dm
  code/modules/antagonists/nukeop/nukeop.dm
  config/config.txt
  tgstation.dme
  waspstation/code/modules/clothing/spacesuits/syndi.dm
  waspstation/code/modules/clothing/under/syndicate.dm
  waspstation/icons/mob/clothing/under/centcom.dmi
  waspstation/icons/mob/clothing/under/syndicate.dmi
  waspstation/icons/obj/clothing/under/centcom.dmi
  waspstation/icons/obj/clothing/under/syndicate.dmi
Labels: Config, Non-Modular, Sprites

#323 Fixes Missing Space Ruins
  _maps/RandomRuins/SpaceRuins/Fast_Food.dmm
  _maps/RandomRuins/SpaceRuins/power_puzzle.dmm
  _maps/RandomRuins/SpaceRuins/scav_mining.dmm
  config/spaceruinblacklist.txt
Labels: Config, Map Change

#326 Readds the "Send signal" button to the respective PDA cart
  code/game/objects/items/devices/PDA/cart.dm
Labels: Non-Modular

#322 The Infamous "Sword of the Meth-King"
  code/_globalvars/lists/maintenance_loot.dm
  tgstation.dme
  waspstation/code/game/objects/items/melee/misc.dm
  waspstation/code/modules/uplink/uplink_items.dm
  waspstation/icons/obj/items_and_weapons.dmi
Labels: Non-Modular, Sprites, hmm yes

#297 Box Facelift 1: AI Core, Grav Gen, Maint Bar.
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Change

#332 Fixes Engine Cams on Pubby
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Change

#329 Updates Plumbing Sprites
  icons/obj/plumbing/fluid_ducts.dmi
  icons/obj/plumbing/plumbers.dmi
Labels: Non-Modular, Sprites

#328 Stimulum no longer deals toxin damage.
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Non-Modular

#324 Spacevine announcements
  code/modules/events/spacevine.dm
Labels: Non-Modular

#334 Fix loadout uniform preventing ID/PDA from spawning
  code/datums/outfit.dm
  code/modules/jobs/job_types/_job.dm
Labels: Non-Modular

#327 Command/CC Uniform Re-Resprite
  waspstation/icons/mob/clothing/hats.dmi
  waspstation/icons/mob/clothing/under/centcom.dmi
  waspstation/icons/mob/clothing/under/command.dmi
  waspstation/icons/obj/clothing/under/centcom.dmi
  waspstation/icons/obj/clothing/under/command.dmi
Labels: Sprites

#343 Arachnid mandibles hide behind masks
  code/modules/mob/living/carbon/human/species.dm
Labels: Non-Modular

#345 A Different BSM Nerf
  code/modules/mining/machine_bluespaceminer.dm
Labels: Non-Modular

#347 [Port] Fixes Tesla
  code/game/atoms.dm
  code/game/objects/obj_defense.dm
  code/modules/power/lighting.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/tesla/energy_ball.dm
Labels: Non-Modular

#340 Increase Atmos Tech minimal permits
  code/modules/jobs/job_types/atmospheric_technician.dm
Labels: Non-Modular

#319 New Space Ruin: The Space Gym
  _maps/RandomRuins/SpaceRuins/spacegym.dmm
  code/modules/mob/living/simple_animal/hostile/zombie.dm
  config/spaceruinblacklist.txt
  tgstation.dme
  waspstation/code/datums/ruins/space.dm
  waspstation/code/game/area/areas/ruins/space.dm
  waspstation/code/game/objects/effects/spawners/lootdrop.dm
  waspstation/code/modules/mob/living/simple_animal/hostile/zombie.dm
  waspstation/icons/mob/simple_human.dmi
Labels: Config, Map Change, Non-Modular, RED LABEL, Sprites

#351 SMES power duping fix
  code/modules/power/smes.dm
Labels: Non-Modular

#355 [Fix] Medical and Research hardsuit helmets don't require breath masks.
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Non-Modular

#350 Arachnids are now feared by those with the spider phobia
  code/controllers/subsystem/traumas.dm
Labels: Non-Modular

#356 Fix vorak ruin atmos
  _maps/RandomRuins/SpaceRuins/Fast_Food.dmm
  _maps/RandomRuins/SpaceRuins/power_puzzle.dmm
Labels: Map Change

#335 Make buzzwords actually usable by insectoid species
  code/modules/language/language_holder.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  tgstation.dme
  waspstation/code/modules/language/language_holder.dm
  waspstation/code/modules/language/spider.dm
  waspstation/code/modules/mob/living/carbon/human/species_types/spider.dm
  waspstation/code/modules/surgery/organs/tongue.dm
Labels: Non-Modular, Stale

#346 BSM nerf 2: electric boogaloo
  code/modules/mining/machine_bluespaceminer.dm
  icons/obj/machines/mining_machines.dmi
  waspstation/code/game/objects/items/circuitboards/machine_circuitboards.dm
Labels: Non-Modular, Sprites

#344 Adds hot ice
  code/game/objects/items/stacks/sheets/hot_ice.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/recipes/toxins.dm
Labels: Non-Modular, Sprites

#362 Adds Magboots to Engineering Hardsuit Storage Units
  code/game/machinery/suit_storage_unit.dm
Labels: Non-Modular

#364 [Port] Fix gib_stack_trace printing to runtime logs
  code/modules/error_handler/error_handler.dm
Labels: Non-Modular

#365 [Port] Fixes revenant contamination, double dog daring fate edition
  code/__DEFINES/flags.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/radiation.dm
  code/_globalvars/bitfields.dm
  code/_globalvars/traits.dm
  code/datums/radiation_wave.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/game/atoms.dm
  code/game/machinery/computer/dna_console.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/dna_injector.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/holosign.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/plaques/_plaques.dm
  code/game/objects/structures/signs/_signs.dm
  code/game/objects/structures/window.dm
  code/game/turfs/closed/_closed.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/clothing/suits/utility.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/corporate.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/silicon/damage_procs.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/recycling/disposal/bin.dm
  code/modules/recycling/disposal/holder.dm
  code/modules/recycling/disposal/outlet.dm
  code/modules/recycling/disposal/pipe.dm
Labels: Non-Modular

#363 [Bugfixes] Shocked Grilles and Cable Melting
  code/_onclick/click.dm
  code/game/objects/effects/anomalies.dm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/obj_defense.dm
  code/game/turfs/turf.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/power/power.dm
Labels: Non-Modular

#361 Flash nerf.
  code/modules/assembly/flash.dm
Labels: Non-Modular

#333 Malfunctioning AI Rework
  code/game/gamemodes/traitor/traitor.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/power/apc.dm
  config/game_options.txt
  tgstation.dme
  tgui/packages/tgui/interfaces/Apc.js
  tgui/packages/tgui/public/tgui.bundle.js
  waspstation/code/controllers/configuration/entries/game_options.dm
  waspstation/code/game/gamemodes/objectives.dm
Labels: Config, Javascript, Non-Modular, TGUI

#358 [Port] Adds an emag exclusive syndicate emergency shuttle.
  _maps/shuttles/emergency_syndicate.dmm
  code/__DEFINES/~wasp_defines/shuttles.dm
  code/game/machinery/computer/communications.dm
  config/unbuyableshuttles.txt
  tgstation.dme
  waspstation/code/datums/shuttles.dm
  waspstation/code/game/machinery/porta_turret/portable_turret.dm
Labels: Config, Map Change, Non-Modular

#367 Fix Borg Cover and Adds Radial Icon Selection
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  tgstation.dme
  waspstation/code/modules/mob/living/silicon/robot/update_icons.dm
  waspstation/icons/mob/robots.dmi
Labels: Non-Modular, Sprites

#366 [Port] Return of modules to AI shell names
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Non-Modular

#374 Returns hot ice to "sane" plasma output
  code/game/objects/items/stacks/sheets/hot_ice.dm
Labels: Non-Modular

#360 Better Squids Part 1
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/living.dm
  tgstation.dme
  waspstation/code/game/objects/effects/decals/cleanable/misc.dm
  waspstation/code/modules/mob/living/carbon/human/species_types/squidpeople.dm
  waspstation/sound/effects/footstep/squid1.ogg
  waspstation/sound/effects/footstep/squid2.ogg
  waspstation/sound/effects/footstep/squid3.ogg
  waspstation/sound/voice/squid/squidscream.ogg
Labels: Non-Modular, Sound

#349 Mentor bugfixes and QOL
  code/modules/admin/admin_verbs.dm
  code/modules/mentor/mentor_ranks.dm
  code/modules/mentor/mentor_verbs.dm
  code/modules/mentor/verbs/dementor.dm
  code/modules/mentor/verbs/mentor_memo.dm
  code/modules/mentor/verbs/mentorpm.dm
  tgstation.dme
Labels: Admin, Non-Modular, Stale
