Repository Whitesands13/Whitesands, pull requests merged in 2020-08, with the labels that each got.

#370 The Centcom Galactic Ban DB (Global Ban Database)
  code/controllers/configuration/entries/general.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  config/config.txt
Labels: Admin, Config, Non-Modular

#376 Alternate job title fixes
  code/game/machinery/computer/crew.dm
  code/modules/client/preferences.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/_job.dm
Labels: Non-Modular

#348 Moth wing organs/seperate fluff selection
  code/__DEFINES/DNA.dm
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/game/objects/items/cosmetics.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  icons/obj/surgery.dmi
  tgstation.dme
  waspstation/code/game/objects/items/cosmetics.dm
  waspstation/code/modules/surgery/organs/moth_wings.dm
  waspstation/icons/mob/moth_wings.dmi
Labels: Admin, Non-Modular, Sprites, Stale

#380 Replaces Orange with Mark
  _maps/RandomRuins/LavaRuins/lavaland_surface_sloth.dmm
Labels: Map Change

#308 Cortical Borers [Needs so much rebalancing it isn't funny]
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/say.dm
  code/datums/brain_damage/split_personality.dm
  code/datums/saymode.dm
  code/game/data_huds.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/antagonists/changeling/powers/panacea.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/client/verbs/suicide.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/say.dm
  code/modules/surgery/organ_manipulation.dm
  interface/stylesheet.dm
  tgstation.dme
  waspstation/code/modules/antagonists/_common/antag_spawner.dm
  waspstation/code/modules/antagonists/borer/borer.dm
  waspstation/code/modules/antagonists/borer/borer_chems.dm
  waspstation/code/modules/antagonists/borer/borer_html.dm
  waspstation/code/modules/antagonists/borer/borer_say.dm
  waspstation/code/modules/antagonists/borer/syndiborer.dm
  waspstation/code/modules/events/borers.dm
  waspstation/code/modules/uplink/uplink_items.dm
  waspstation/icons/mob/actions/actions_borer.dmi
  waspstation/icons/mob/borer.dmi
Labels: Feature, Needs Testmerge, Needs Vote, Non-Modular, Sprites, Stale

#384 Fixes SSD people showing up as dead
  code/game/machinery/computer/crew.dm
Labels: Fix, Tweak

#382 edits some of Quantumm's plumbing sprites
  icons/obj/plumbing/plumbers.dmi
Labels: Non-Modular, Sprites

#385 Updates Mining Base for Monstermos
  _maps/map_files/Mining/Lavaland.dmm
Labels: Fix, Map Change

#391 AAC Reliability Improvement
  code/game/machinery/airlock_cycle_control.dm
  code/game/turfs/open/space/space.dm
Labels: Fix

#390 Pyroclastic anom rebalance
  code/game/objects/effects/anomalies.dm
  code/modules/events/anomaly_pyro.dm
Labels: Balance/Rebalance

#386 Space Ruin fixes
  _maps/RandomRuins/SpaceRuins/Fast_Food.dmm
  _maps/RandomRuins/SpaceRuins/clownplanet.dmm
  _maps/RandomRuins/SpaceRuins/forgottenship.dmm
  _maps/RandomRuins/SpaceRuins/hellfactory.dmm
  _maps/RandomRuins/SpaceRuins/hilbertshoteltestingsite.dmm
  _maps/RandomRuins/SpaceRuins/intactemptyship.dmm
  _maps/RandomRuins/SpaceRuins/power_puzzle.dmm
Labels: Fix, Map Change

#375 Hitscan Emitters 2 Electric Boogaloo
  code/modules/power/singularity/emitter.dm
  code/modules/projectiles/projectile.dm
  tgstation.dme
  waspstation/code/game/objects/effects/temporary_visuals/projectiles/impact.dm
  waspstation/code/game/objects/effects/temporary_visuals/projectiles/muzzle.dm
  waspstation/code/game/objects/effects/temporary_visuals/projectiles/tracer.dm
  waspstation/code/modules/projectiles/projectile/beams.dm
Labels: Non-Modular

#338 Bookworm
  tgstation.dme
  waspstation/code/__HELPERS/text.dm
  waspstation/code/modules/mob/living/simple_animal/friendly/snake.dm
Labels: Sprites

#387 Trekchem Changes (Consider them nerfs)
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  waspstation/code/modules/reagents/chemistry/recipes/medicine.dm
Labels: Balance/Rebalance, Feature, Fix, Removal

#393 Reduces the chance of accident prone people venting the arrival and escape shuttles.
  _maps/shuttles/arrival_box.dmm
  _maps/shuttles/arrival_delta.dmm
  _maps/shuttles/arrival_donut.dmm
  _maps/shuttles/arrival_kilo.dmm
  _maps/shuttles/arrival_pubby.dmm
  _maps/shuttles/emergency_asteroid.dmm
  _maps/shuttles/emergency_backup.dmm
  _maps/shuttles/emergency_bar.dmm
  _maps/shuttles/emergency_birdboat.dmm
  _maps/shuttles/emergency_box.dmm
  _maps/shuttles/emergency_cere.dmm
  _maps/shuttles/emergency_clown.dmm
  _maps/shuttles/emergency_construction.dmm
  _maps/shuttles/emergency_cramped.dmm
  _maps/shuttles/emergency_cruise.dmm
  _maps/shuttles/emergency_delta.dmm
  _maps/shuttles/emergency_discoinferno.dmm
  _maps/shuttles/emergency_donut.dmm
  _maps/shuttles/emergency_goon.dmm
  _maps/shuttles/emergency_imfedupwiththisworld.dmm
  _maps/shuttles/emergency_kilo.dmm
  _maps/shuttles/emergency_luxury.dmm
  _maps/shuttles/emergency_meta.dmm
  _maps/shuttles/emergency_meteor.dmm
  _maps/shuttles/emergency_mini.dmm
  _maps/shuttles/emergency_narnar.dmm
  _maps/shuttles/emergency_omega.dmm
  _maps/shuttles/emergency_pod.dmm
  _maps/shuttles/emergency_pubby.dmm
  _maps/shuttles/emergency_raven.dmm
  _maps/shuttles/emergency_russiafightpit.dmm
  _maps/shuttles/emergency_scrapheap.dmm
  _maps/shuttles/emergency_supermatter.dmm
  _maps/shuttles/emergency_wabbajack.dmm
  _maps/shuttles/emergency_zeta.dmm
Labels: Feature, Fix, Map Change

#392 Improves code documentation
  code/game/machinery/airlock_cycle_control.dm
Labels: Code Improvement

#341 Nerf Metaspeen
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/dead/observer/say.dm
  waspstation/code/modules/mob/emote.dm
Labels: Non-Modular

#394 Fixes Centcom ferry, makes Terragov an ERT
  _maps/map_files/generic/CentCom.dmm
  tgstation.dme
  waspstation/code/datums/ert.dm
  waspstation/code/game/area/Space_Station_13_areas.dm
  waspstation/code/modules/antagonists/ert/ert.dm
Labels: Fix, Map Change

#402 Fixes cloning board names
  code/modules/research/designs/comp_board_designs.dm
  code/modules/research/designs/machine_designs.dm
Labels: Fix

#388 [Cit Port] Randomized Box Engine
  _maps/RandomRuins/StationRuins/Box/Engine/budget.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/empty.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_am.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_singulo.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_sm.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_sm_1x3.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_sm_3x.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_sm_5x5.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_teg.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_tesla.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  code/controllers/configuration/config_entry.dm
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/mapping.dm
  config/game_options.txt
  tgstation.dme
  waspstation/code/_globalvars/lists/mapping.dm
  waspstation/code/controllers/configuration/entries/game_options.dm
  waspstation/code/datums/ruins/station.dm
  waspstation/code/game/objects/effects/landmarks.dm
  waspstation/code/game/objects/effects/spawners/structure.dm
  waspstation/icons/rooms/box/engine.dmi
Labels: Config, Feature, Map Change, Removal, Sprites, Tweak

#398 BSM sprites
  code/modules/mining/machine_bluespaceminer.dm
  waspstation/icons/obj/machines/bsm.dmi
Labels: Feature, Sprites, Tweak

#397 cuts the purple people hazmat suits from the everyman's clothing articles and also something else that doesnt really matter too
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/wardrobes.dm
Labels: Feature

#404 Fixed displayed vendor prices on contraband items
  code/modules/vending/_vending.dm
Labels: Fix

#406 Remove some no-sleep/purity lints
  code/game/atoms.dm
  code/game/say.dm
Labels: Code Improvement

#401 makes bolted safety airlocks unboltable
  code/game/machinery/doors/door.dm
Labels: Fix, High Priority, Tweak

#405 Hygiene Bot Construction Fix
  code/modules/mob/living/simple_animal/bot/construction.dm
Labels: Fix

#399 Senior titles fix
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  waspstation/code/modules/jobs/job_types/_alt_titles.dm
Labels: Fix, Tweak

#410 Borg Converter Conveyor Fix
  code/modules/recycling/conveyor2.dm
Labels: Fix

#412 Fixes the DME for Shuttles Datum
  tgstation.dme
Labels: Fix

#407 Null Drone Prompt Fix
  code/modules/mob/living/simple_animal/friendly/drone/drones_as_items.dm
Labels: Fix

#396 Alt Clothing Part 1
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
  tgstation.dme
  waspstation/code/modules/clothing/neck/ties.dm
  waspstation/code/modules/clothing/suits/coats.dm
  waspstation/code/modules/clothing/under/jobs/cargo.dm
  waspstation/code/modules/clothing/under/jobs/engineering.dm
  waspstation/code/modules/clothing/under/jobs/medical.dm
  waspstation/code/modules/clothing/under/jobs/rnd.dm
  waspstation/icons/mob/clothing/neck.dmi
  waspstation/icons/mob/clothing/suits.dmi
  waspstation/icons/mob/clothing/under/cargo.dmi
  waspstation/icons/mob/clothing/under/engineering.dmi
  waspstation/icons/mob/clothing/under/medical.dmi
  waspstation/icons/mob/clothing/under/rnd.dmi
  waspstation/icons/obj/clothing/neck.dmi
  waspstation/icons/obj/clothing/suits.dmi
  waspstation/icons/obj/clothing/under/cargo.dmi
  waspstation/icons/obj/clothing/under/engineering.dmi
  waspstation/icons/obj/clothing/under/medical.dmi
  waspstation/icons/obj/clothing/under/rnd.dmi
Labels: Feature, Sprites

#395 re:sprites
  code/game/objects/items/cigs_lighters.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/special.dm
  waspstation/code/datums/components/crafting/recipes.dm
  waspstation/code/modules/client/loadout/loadout_general.dm
  waspstation/code/modules/clothing/outfits/terragov.dm
  waspstation/code/modules/projectiles/ammunition/ballistic/smg.dm
  waspstation/code/modules/projectiles/boxes_magazines/external/smg.dm
  waspstation/code/modules/projectiles/guns/ballistic/automatic.dm
  waspstation/code/modules/projectiles/projectile/bullets/smg.dm
  waspstation/icons/obj/ammo.dmi
  waspstation/icons/obj/cigarettes.dmi
  waspstation/icons/obj/drinks.dmi
  waspstation/icons/obj/guns/energy.dmi
  waspstation/icons/obj/guns/projectile.dmi
Labels: Balance/Rebalance, Feature, Removal, Sprites
