Repository Whitesands13/Whitesands, pull requests merged in 2020-04, with the labels that each got.

#134 [Port] Ports Yog's Airlock Cyclelink Target Map Helpers
  code/game/machinery/doors/airlock.dm
  code/modules/mapping/mapping_helpers.dm
  icons/effects/mapping_helpers.dmi
  tgstation.dme
Labels: Port

#138 Additional bot status reports
  code/modules/admin/permissionedit.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/panicbunker.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/mentor/verbs/mentorhelp.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/power/singularity/narsie.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/shuttle/emergency.dm
  waspstation/code/modules/admin/verbs/mentors_edit.dm
Labels: Admin

#140 Adds tiny fans to Lavaland Seed vault
  _maps/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
Labels: Fix, I made a label for this, Map Change, hmm yes

#146 [Port] Adds Decals from VG
  tgstation.dme
  waspstation/code/game/objects/effects/decals/turfdecal/markings.dm
  waspstation/icons/turf/decals.dmi
Labels: Port, Sprites

#147 Bloodbanks
  tgstation.dme
  waspstation/code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  waspstation/icons/obj/vending.dmi
Labels: Sprites

#150 Fixes gateway (Goddammit.)
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Change

#148 Kilo decal reductions/fixes
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Controversial, Do not merge, Fix, I made a label for this, Map Change, Needs Testmerge, hmm yes

#152 Fixes hypercharged yellow slime batteries
  code/modules/research/xenobiology/crossbreeding/_misc.dm
Labels: Non-Modular

#154 Allows compact combat shotgun to be used with only one hand
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Non-Modular

#155 felinid eat da fish
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Non-Modular
