Repository Whitesands13/Whitesands, pull requests merged in 2020-09, with the labels that each got.

#357 Tool Resprites (Take II) By TripleZeta
  code/game/objects/items.dm
  code/game/objects/items/devices/geiger_counter.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/theft_tools.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/wirecutters.dm
  code/modules/mining/equipment/mineral_scanner.dm
  waspstation/icons/mob/inhands/equipment/tools_lefthand.dmi
  waspstation/icons/mob/inhands/equipment/tools_righthand.dmi
  waspstation/icons/obj/clothing/belt_overlays.dmi
  waspstation/icons/obj/tools.dmi
Labels: Feature, Non-Modular, Removal, Sprites

#417 Ninja Buttons Fix
  code/modules/ninja/suit/suit_initialisation.dm
Labels: Fix

#418 Extends Singulo and Tesla airlocks for Box Engine
  _maps/RandomRuins/StationRuins/Box/Engine/engine_singulo.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_tesla.dmm
Labels: Fix, Map Change

#427 Selected Character Name Added to Job Selection Window
  code/modules/mob/dead/new_player/new_player.dm
Labels: Feature

#422 Atmos Analyzer Format Fix
  code/game/objects/items/devices/scanners.dm
Labels: Fix, Tweak

#434 Add radio chatter sound effects from Baystation12
  code/game/machinery/telecomms/broadcasting.dm
  code/game/objects/items/devices/radio/radio.dm
  sound/effects/radio_chatter.ogg
  sound/effects/walkietalkie.ogg
Labels: Feature, Sound

#433 Ethereal Facial Hair
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Tweak

#436 Mechs can now use AACs
  code/game/machinery/doors/door.dm
Labels: Fix

#431 Added Ethereal Charge to Status Tab
  code/modules/mob/living/carbon/human/human.dm
Labels: Feature

#413 Box Facelift part 2 - EVA
  _maps/map_files/BoxStation/BoxStation.dmm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
  waspstation/code/modules/jobs/job_types/brigphys.dm
Labels: Feature, Map Change, Tweak

#400 [Port] Jukebox rework + environment/reverb controls for sounds played via playsound_local
  code/__DEFINES/sound.dm
  code/game/machinery/dance_machine.dm
  code/game/sound.dm
  config/jukebox_music/README.txt
  config/jukebox_music/palaceofloadboss+620+5+1.ogg
  config/jukebox_music/sounds/exclude
  tgstation.dme
  waspstation/code/controllers/subsystem/jukeboxes.dm
  waspstation/code/modules/cargo/packs.dm
Labels: Balance/Rebalance, Code Improvement, Config, Config Update, Feature, Fix, Sound, Tweak

#435 No more free ammo
  code/game/machinery/autolathe.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Balance/Rebalance, Feature

#440 Fixed Add Filtered Frequency Button on Telecomms Tgui
  code/game/machinery/telecomms/machine_interactions.dm
Labels: Feature, Fix

#446 Skateboards can take you to the afterlife
  code/datums/mood_events/generic_positive_events.dm
  code/game/objects/items/weaponry.dm
Labels: Feature

#441 Spiffs up space around Box AME template
  _maps/RandomRuins/StationRuins/Box/Engine/engine_am.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_singulo.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_tesla.dmm
Labels: Map Change, Tweak

#425 5 droonk respritts
  waspstation/icons/obj/drinks.dmi
Labels: Feature, Removal, Sprites

#415 Paranerf
  code/modules/jobs/job_types/paramedic.dm
Labels: Balance/Rebalance

#443 Removes Donutstation
  .github/MAPS_AND_AWAY_MISSIONS.md
  _maps/_basemap.dm
  _maps/donutstation.json
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/Donutstation/Donutstation_LVL2.dmm
  _maps/map_files/Donutstation/job_changes.dm
  code/modules/jobs/map_changes/map_changes.dm
  config/maps.txt
Labels: Config, Controversial, Github, Map Change, Removal

#449 no more free bullets
  code/game/machinery/autolathe.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Balance/Rebalance, Feature

#439 More ammo crates
  tgstation.dme
  waspstation/code/game/objects/items/storage/boxes.dm
  waspstation/code/modules/cargo/packs.dm
  waspstation/icons/obj/storage.dmi
Labels: Feature, Sprites

#454 Bookworm Mapping
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Fix, Map Change

#464 remove abandoned crate explosion after successfully unlocked when dec…
  code/modules/mining/abandoned_crates.dm
Labels: Tweak

#403 Hardhat Helmet Sprites
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/mining/mine_items.dm
  icons/mob/clothing/head.dmi
  icons/mob/corgi_head.dmi
  icons/obj/clothing/hats.dmi
Labels: Code Improvement, Feature, Sprites, Tweak

#453 a bunch of unatomized reagent changes because im based and epic
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/tanks/watertank.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/paperwork/pen.dm
  code/modules/projectiles/projectile/bullets/dart_syringe.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/surgery/dental_implant.dm
  waspstation/code/game/machinery/Sleeper.dm
  waspstation/code/modules/reagents/reagent_containers/hypospray.dm
  waspstation/icons/obj/drinks.dmi
Labels: Balance/Rebalance, Fix, Sprites, Tweak

#457 Skill Cloak Button Fix
  code/game/objects/items/devices/PDA/PDA.dm
Labels: Fix

#452 Felinids eat more like a cat , fixes allegedly bad felinid carpotoxin immunity code
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Code Improvement, Fix, Tweak

#430 Potential shotgun nerf #3
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
Labels: Balance/Rebalance, Controversial

#477 [Fix] Deletes 20+ windows floating in space
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Feature, Fix, Map Change, Removal

#447 Steppy, the Cargonian Gator
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/game/objects/effects/contraband.dm
  icons/mob/pets.dmi
  icons/obj/contraband.dmi
  tgstation.dme
  waspstation/code/modules/mob/living/simple_animal/friendly/gator.dm
  waspstation/icons/mob/pets.dmi
Labels: Feature, Map Change, Sprites

#460 makes regen jelly mixable with omnizine, soft-nerfs the tricord regen jelly recipe
  code/modules/reagents/chemistry/recipes/medicine.dm
Labels: Balance/Rebalance, Fix

#469 Vote System Rework - Remove Observer/New Player Auto-Transfer Votes
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/vote.dm
  waspstation/code/controllers/subsystem/autotransfer.dm
Labels: Fix, Server, Tweak

#473 Fixes Tail/Spines/Wings not updating in character setup
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/surgery/organs/tails.dm
  waspstation/code/modules/surgery/organs/moth_wings.dm
Labels: Fix

#481 Startup time
  code/controllers/subsystem/ticker.dm
Labels: Config Update, Tweak

#470 Delta and Derelict fixes
  _maps/RandomRuins/SpaceRuins/TheDerelict.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Change, Removal

#442 Re-adds Singularity to Deltastation
  _maps/map_files/Deltastation/DeltaStation2.dmm
  waspstation/code/game/objects/effects/spawners/lootdrop.dm
Labels: Feature, Map Change, Stale

#482 Caltrops no longer paralyze people with light step
  code/datums/components/caltrop.dm
Labels: Tweak

#487 Yog's Error Annotations
  .github/workflows/turdis.yml
Labels: Code Improvement, Feature, Github, Port

#483 Revamp Gygax Sprites
  icons/mecha/mecha.dmi
Labels: Feature, Sprites

#478 Makes Pubby whiteship gooderer
  _maps/shuttles/whiteship_pubby.dmm
Labels: Map Change, Tweak

#475 Nya!~, but it's a punishment from an angry god.
  code/__DEFINES/admin.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/surgery/organs/tongue.dm
  waspstation/code/modules/surgery/organs/tongue.dm
Labels: Admin, Administration, Feature
