Repository Whitesands13/Whitesands, pull requests merged in 2020-02, with the labels that each got.

#12 re adds the antimatter reactor
  code/modules/cargo/exports/large_objects.dm
  code/modules/cargo/packs.dm
  code/modules/power/antimatter/containment_jar.dm
  code/modules/power/antimatter/control.dm
  code/modules/power/antimatter/shielding.dm
  icons/obj/machines/antimatter.dmi
  tgstation.dme
Labels: Feature, Merge Conflict

#27 Citadel's Fancy Lighting
  code/game/machinery/camera/camera.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/items/candle.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/power/lighting.dm
  code/modules/projectiles/gun.dm
Labels: Feature, Port, Vote Passed

#26 Clown PDA slipstun
  code/game/objects/items/devices/PDA/PDA_types.dm
Labels: Controversial, Feature, Port

#28 Adds LOOC
  code/modules/client/verbs/looc.dm
  tgstation.dme
Labels: Feature, Port

#33 Mentor System from Oracle
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/admin.dm
  code/__HELPERS/_logging.dm
  code/_globalvars/lists/mobs.dm
  code/_globalvars/logging.dm
  code/controllers/configuration/entries/general.dm
  code/datums/keybinding/admin.dm
  code/datums/world_topic.dm
  code/game/world.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/holder2.dm
  code/modules/admin/permissionedit.dm
  code/modules/admin/secrets.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/client/client_procs.dm
  code/modules/client/verbs/ooc.dm
  code/modules/client/verbs/who.dm
  code/modules/mentor/follow.dm
  code/modules/mentor/holder2.dm
  code/modules/mentor/mentor_ranks.dm
  code/modules/mentor/verbs/mentor_memo.dm
  code/modules/mentor/verbs/mentorhelp.dm
  code/modules/mentor/verbs/mentorpm.dm
  code/modules/mentor/verbs/mentorsay.dm
  config/config.txt
  config/mentors.txt
  interface/stylesheet.dm
  tgstation.dme
Labels: Config Change, High Priority, Port

#34 Plays a noise whenever you hear a radio message
  code/modules/mob/living/say.dm
  sound/effects/radiohiss.ogg
Labels: Feature, Needs Vote, Port

#35 Better latejoin panel
  code/modules/mob/dead/new_player/new_player.dm
Labels: Port

#36 Fax machines from Oracle
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/__DEFINES/admin.dm
  code/__HELPERS/unique_ids.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/paperwork/fax.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/photocopier.dm
  goon/sound/machinery/printer_dotmatrix.ogg
  icons/mob/ass.dmi
  icons/obj/library.dmi
  tgstation.dme
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/src/interfaces/faxmachine.ract
Labels: Feature, Port

#37 Ports crew objectives from Oracle
  code/__HELPERS/roundend.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/ticker.dm
  code/datums/mind.dm
  code/game/objects/items/devices/PDA/PDA_types.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/crew_objectives/_crew_objectives.dm
  code/modules/crew_objectives/cargo_objectives.dm
  code/modules/crew_objectives/civilian_objectives.dm
  code/modules/crew_objectives/command_objectives.dm
  code/modules/crew_objectives/engineering_objectives.dm
  code/modules/crew_objectives/medical_objectives.dm
  code/modules/crew_objectives/science_objectives.dm
  code/modules/crew_objectives/security_objectives.dm
  code/modules/mob/living/living.dm
  config/game_options.txt
  tgstation.dme
Labels: Config Change, Feature, Port

#38 Removes After-climb stun
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/crates.dm
Labels: Needs Vote, Port

#39 Adds drone hatches to doors
  code/__DEFINES/flags.dm
  code/__DEFINES/layers.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/turfs/open/floor.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  icons/obj/doors/hatches.dmi
  sound/machines/hatch_close.ogg
  sound/machines/hatch_open.ogg
Labels: Feature, Port

#40 Fixed squid language issues
  code/modules/language/language_holder.dm
  code/modules/mob/living/carbon/human/species_types/squidpeople.dm
Labels: Fix

#43 traitor item player count rebalancing
  code/modules/uplink/uplink_items.dm
Labels: Rebalance

#44 Announcement tweaks
  code/__HELPERS/priority_announce.dm
  code/controllers/subsystem/communications.dm
  code/game/machinery/requests_console.dm
Labels: Feature, Port

#45 Wikilink and Custom notice on joining
  code/controllers/subsystem/job.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/ai.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/brigphys.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/cyborg.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
Labels: Feature, Port

#56 Adds "." to the end of messages without other punctuation. (Bee Port)
  code/datums/emotes.dm
  code/modules/mob/living/say.dm
Labels: Port
