Repository Whitesands13/Whitesands, pull requests merged in 2021-05, with the labels that each got.

#810 Adds missing firelocks in Delta main halls
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Feature, Map Change, Removal, Tweak

#809 Air alarms and reported problems
  _maps/map_files/MidwayStation/MidwayStation.dmm
  _maps/shuttles/whiteship_midway.dmm
Labels: Fix, Map Change

#840 Royal Moth Wings Fix
  whitesands/icons/mob/moth_wings.dmi
Labels: Fix, Sprites

#798 Plasmeme command helmets buff
  code/modules/clothing/spacesuits/plasmamen.dm
Labels: Balance/Rebalance, Feature, Fix

#839 Fixes Clown Flower Superlube
  code/modules/reagents/reagent_containers/spray.dm
Labels: Fix

#846 Bone medipen now works
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Fix

#847 Adds Enginseer Robe
  code/modules/vending/wardrobes.dm
  whitesands/code/modules/clothing/suits/jobs.dm
  whitesands/icons/mob/clothing/head.dmi
  whitesands/icons/mob/clothing/suits.dmi
  whitesands/icons/obj/clothing/hats.dmi
  whitesands/icons/obj/clothing/suits.dmi
Labels: Code Improvement, Feature, Sprites

#816 Adds the unfollow verb to the mentor tab.
  code/modules/mentor/follow.dm
  code/modules/mentor/mentor_verbs.dm
Labels: Feature, Fix

#841 Update Textobfs
  whitesands/code/controllers/subsystem/textobfs.dm
Labels: Fix

#808 Mahjong Tiles
  code/modules/vending/games.dm
  tgstation.dme
  whitesands/code/game/objects/items/toys.dm
  whitesands/icons/obj/toy.dmi
  whitesands/sound/items/mahjongclack.ogg
  whitesands/sound/items/mahjongshuffle.ogg
Labels: DME Edit, Feature, Sound, Sprites

#843 Add +ROD
  code/__DEFINES/admin.dm
  code/__HELPERS/type2type.dm
  code/_globalvars/bitfields.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Admin, Administration, Feature, Needs Testmerge, del: God

#854 WS Ruins Fixes
  _maps/RandomRuins/SandRuins/whitesands_surface_envy.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_youreinsane.dmm
Labels: CI, Code Improvement, Fix, Map Change

#853 Allows Ethereals to Wear Underwear
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Fix

#850 Fixes disposal shoving name
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix
