Repository Whitesands13/Whitesands, pull requests merged in 2021-03, with the labels that each got.

#772 Weebstick
  tgstation.dme
  whitesands/code/game/objects/items/melee/weebstick.dm
  whitesands/code/modules/uplink/uplink_items.dm
  whitesands/icons/mob/inhands/weapons/swords_lefthand.dmi
  whitesands/icons/mob/inhands/weapons/swords_righthand.dmi
  whitesands/icons/obj/items_and_weapons.dmi
  whitesands/sound/weapons/anime_slash.ogg
  whitesands/sound/weapons/unsheathed_blade.ogg
Labels: DME Edit, Feature, Sound, Sprites

#783 Gifts and Cookies
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  tgstation.dme
  whitesands/code/modules/admin/verbs/randomverbs.dm
Labels: Admin, Administration, DME Edit, Tweak

#792 Update text obfs subsystem strings to properly decode with the new world.url
  whitesands/code/controllers/subsystem/textobfs.dm
Labels: Code Improvement

#796 Felinids no longer like getting tabled.
  code/datums/mood_events/generic_negative_events.dm
Labels: Tweak

#781 Push broom now sweeps on pre move
  code/game/objects/items/broom.dm
Labels: Code Improvement, Fix, Stale

#769 manly dorf and dorf drinking fix
  code/__DEFINES/DNA.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  whitesands/code/__DEFINES/DNA.dm
Labels: Feature, Fix, Stale

#795 Fix bad SQL syntax in Ban Update queries
  code/modules/admin/sql_ban_system.dm
Labels: Admin, Fix

#794 [Port] Advanced Explosions
  code/controllers/subsystem/explosions.dm
  code/game/sound.dm
  sound/effects/creak1.ogg
  sound/effects/creak2.ogg
  sound/effects/creak3.ogg
  sound/effects/explosioncreak1.ogg
  sound/effects/explosioncreak2.ogg
Labels: Code Improvement, Sound, Tweak

#803 [s] Funny sanitization
  code/modules/client/preferences.dm
  whitesands/code/modules/mob/say_vr.dm
Labels: Fix

#797 Housekeeping Fixes/Changes
  _maps/map_files/Mining/Whitesands.dmm
  code/datums/map_config.dm
  code/datums/traits/good.dm
  code/game/area/areas/mining.dm
  code/modules/mining/machine_redemption.dm
  tools/build/build.js
  whitesands/icons/obj/machines/orm.dmi
Labels: Balance/Rebalance, Feature, Fix, Map Change, Removal, Sprites, Tweak

#787 Speedway Update
  _maps/RandomZLevels/speedway.dmm
  tgstation.dme
  whitesands/code/game/turf/closed/_closed.dm
Labels: DME Edit, Feature, Map Change, Tweak

#806 Effects are now *truly* ethereal
  code/game/machinery/recycler.dm
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix

#805 Brightens things up a little
  code/modules/keybindings/setup.dm
  code/modules/mapping/ruins.dm
  code/modules/power/lighting.dm
Labels: Tweak

#791 Add flavor text verb when in-game
  whitesands/code/modules/mob/say_vr.dm
Labels: Feature, Stale

#818 Fixes runtime in camp ruin spawning on whitesands
  code/__HELPERS/_lists.dm
  code/modules/mapping/ruins.dm
Labels: Fix

#807 Causes certain sounds to play in mono if you are right next to the source
  code/game/machinery/doors/airlock.dm
  code/game/objects/items.dm
  code/game/sound.dm
Labels: Tweak

#819 [Ready] Fixes various startup runtimes
  _maps/RandomRuins/SandRuins/whitesands_surface_medipen_plant.dmm
  code/__HELPERS/_lists.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/modules/projectiles/guns/ballistic/toy.dm
  code/modules/projectiles/projectile.dm
Labels: Fix, Map Change

#820 Support spawn weights of 0 in loot tables and ruins
  code/__HELPERS/_lists.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/modules/mapping/ruins.dm
Labels: Code Improvement

#777 Syndie Guns update
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  whitesands/code/modules/cargo/packs.dm
  whitesands/code/modules/clothing/under/syndicate.dm
  whitesands/code/modules/projectiles/ammunition/ballistic/rifle.dm
  whitesands/code/modules/projectiles/boxes_magazines/external/rifle.dm
  whitesands/code/modules/projectiles/boxes_magazines/external/smg.dm
  whitesands/code/modules/projectiles/guns/ballistic/automatic.dm
  whitesands/code/modules/projectiles/projectile/bullets/rifle.dm
  whitesands/code/modules/uplink/uplink_items.dm
  whitesands/icons/mob/inhands/weapons/64x_guns_left.dmi
  whitesands/icons/mob/inhands/weapons/64x_guns_right.dmi
  whitesands/icons/obj/ammo.dmi
  whitesands/icons/obj/guns/48x32guns.dmi
  whitesands/icons/obj/guns/projectile.dmi
Labels: Feature, Sprites, Stale

#815 Adds BZ injector pipe to Xenobio in delta
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Feature, Fix, Map Change, Removal

#822 mob overlay state
  code/game/gamemodes/changeling/changeling.dm
  code/game/machinery/washing_machine.dm
  code/game/objects/items.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Feature, Tweak

#813 [Port] Cleans up Cybernetic Lung code (#52143)
  code/modules/surgery/organs/lungs.dm
Labels: Code Improvement, Fix, Stale

#814 Fixes textobfs key.
  whitesands/code/controllers/subsystem/textobfs.dm
Labels: Fix

#785 a bunch of titles and outfits
  code/modules/jobs/job_types/_job.dm
  tgstation.dme
  whitesands/code/game/objects/items/storage/book.dm
  whitesands/code/modules/clothing/head/cargo.dm
  whitesands/code/modules/jobs/job_types/_alt_titles.dm
  whitesands/code/modules/jobs/job_types/brigphys.dm
  whitesands/code/modules/jobs/job_types/cargo_tech.dm
  whitesands/code/modules/jobs/job_types/chaplain.dm
  whitesands/code/modules/jobs/job_types/curator.dm
  whitesands/code/modules/jobs/job_types/janitor.dm
  whitesands/code/modules/jobs/job_types/prisoner.dm
  whitesands/code/modules/jobs/job_types/quartermaster.dm
  whitesands/code/modules/jobs/job_types/shaft_miner.dm
  whitesands/code/modules/jobs/job_types/warden.dm
Labels: DME Edit, Feature, Fix

#788 Removes sec gear from white sand ruins, splits a unused ruin into 2 parts
  _maps/RandomRuins/SandCamps/whitesands_surface_camp_cowboy.dmm
  _maps/RandomRuins/SandCamps/whitesands_surface_camp_drugstore.dmm
  _maps/RandomRuins/SandCamps/whitesands_surface_camp_farm.dmm
  _maps/RandomRuins/SandCamps/whitesands_surface_camp_saloon.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_golemhijack.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_medipen_plant.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_starfurycrash.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_waterplant.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_youreinsane.dmm
  _maps/map_files/Mining/Whitesands.dmm
  whitesands/code/datums/ruins/whitesands.dm
Labels: Balance/Rebalance, Feature, Map Change, Stale

#800 Solar System Overmap Generation
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/~whitesands_defines/overmap.dm
  code/__HELPERS/_lists.dm
  config/game_options.txt
  tgstation.dme
  whitesands/code/__DEFINES/overmap.dm
  whitesands/code/controllers/configuration/entries/game_options.dm
  whitesands/code/controllers/subsystem/overmap.dm
  whitesands/code/modules/overmap/_overmap.dm
  whitesands/code/modules/overmap/events.dm
  whitesands/icons/effects/overmap_large.dmi
Labels: Config, DME Edit, Feature, Map Change, Sprites, Stale

#811 Comments out the 100% Free Lag button
  code/modules/events/dust.dm
Labels: Tweak
