Repository Whitesands13/Whitesands, pull requests merged in 2021-06, with the labels that each got.

#821 White Sands Basilisk Update
  code/datums/mapgen/Cavegens/WhitesandsCaves.dm
  whitesands/code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  whitesands/icons/mob/miningmobs.dmi
Labels: Balance/Rebalance, Feature, Sprites

#863 Allows admins to pick icemoon
  code/datums/map_config.dm
Labels: Administration, Tweak

#857 Away Mission Gateway Fixes
  _maps/RandomZLevels/Academy.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/RandomZLevels/challenge.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/speedway.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/GalaxyStation/Galaxystation_LVL2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/MidwayStation/MidwayStation.dmm
  _maps/map_files/PackedStation/PackedStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/modules/awaymissions/gateway.dm
Labels: Feature, Fix, Map Change

#849 Felinids are now allergic to chocolate
  whitesands/code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Feature
