Repository Whitesands13/Whitesands, pull requests merged in 2021-01, with the labels that each got.

#675 Add "Jackpot Brews" barsign
  code/game/objects/structures/barsigns.dm
  icons/obj/barsigns.dmi
Labels: Map Change, Sprites

#657 Fix ipc
  code/game/objects/items/tools/screwdriver.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/surgery/healing.dm
  tgstation.dme
  waspstation/code/game/machinery/computer/cloning.dm
  waspstation/code/modules/surgery/ipc_revive.dm
  waspstation/code/modules/surgery/mechanical.dm
Labels: Feature, Fix, Removal, Stale

#674 sgr plasma suit
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  waspstation/code/modules/clothing/head/helmet.dm
  waspstation/code/modules/clothing/under/SolGov.dm
  waspstation/icons/mob/clothing/head.dmi
  waspstation/icons/mob/clothing/under/SolGov.dmi
  waspstation/icons/obj/clothing/hats.dmi
  waspstation/icons/obj/clothing/under/SolGov.dmi
Labels: Feature, Sprites

#643 Bureaucratic Error Balance - Min Pop, Heads Protected
  code/modules/events/bureaucratic_error.dm
Labels: Balance/Rebalance, Fix, Stale

#664 More FastDMM compliance fixes for wall mounts
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/PackedStation/PackedStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  icons/mob/landmarks.dmi
Labels: Fix, Map Change, Sprites

#661 hopefully this makes dynamic playable
  code/__HELPERS/_lists.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  config/dynamic.json
Labels: Admin, Config, Fix, Stale

#665 Hyper-Gamer Dev-Tool (For Mapper Chads ONLY) 2025 BLUESPACE Edition (Turf Decals and Medians)
  waspstation/code/game/objects/effects/decals/turfdecal/prefabdecals.dm
  waspstation/code/game/turfs/open/floor/medians.dm
  waspstation/icons/effects/prefabdecals.dmi
  waspstation/icons/turf/floors/medians.dmi
Labels: Feature, Sprites, Stale

#680 Map Maintenance Again
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PackedStation/PackedStation.dmm
  _maps/map_files/generic/CentCom.dmm
Labels: Feature, Fix, Map Change

#691 Verification Overhaul Port
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
  code/__HELPERS/text.dm
  code/_globalvars/logging.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/discord.dm
  code/game/world.dm
  code/modules/admin/admin_verbs.dm
  code/modules/discord/accountlink.dm
  code/modules/discord/discord_link_record.dm
  code/modules/discord/manipulation.dm
  code/modules/discord/tgs_commands.dm
  tgstation.dme
Labels: Admin, Feature, SQL, Server

#689 Pre-roundend "New round" discord notification
  code/modules/shuttle/emergency.dm
Labels: Feature

#671 Remove Jukebox Access Requirement
  code/game/machinery/dance_machine.dm
Labels: Tweak

#694 Fix lockbox sprite
  code/game/objects/items/storage/lockbox.dm
Labels: Fix, Sprites

#688 L4Z is useful now, botany vendor prices slashed
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seeds.dm
  code/modules/vending/megaseed.dm
  code/modules/vending/nutrimax.dm
Labels: Feature, Tweak

#701 Fixes Ninja GBJ Walls
  _maps/map_files/generic/CentCom.dmm
Labels: Fix, Map Change

#702 Cargo shuttle fixes
  _maps/shuttles/cargo_box.dmm
  _maps/shuttles/cargo_delta.dmm
Labels: Fix, Map Change

#699 Lizard tongues don't hiss when speaking Draconic
  code/__DEFINES/dcs/signals.dm
  code/modules/surgery/organs/tongue.dm
Labels: Tweak

#700 Increase flavor text cutoff
  waspstation/code/modules/mob/say_vr.dm
Labels: Tweak

#707 Updates GH Actions Workflows
  .github/workflows/compile_changelogs.yml
  .github/workflows/docker_publish.yml
  .github/workflows/labeler.yml
  .github/workflows/make_changelogs.yml
Labels: Code Improvement, Feature, Github

#712 Ports dynamic bugfixes
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/dynamic/dynamic_rulesets.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: Config Update, Fix, High Priority

#697 Hugging a mothperson now puts dust on you
  code/game/objects/structures/shower.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/life.dm
Labels: Feature, Vote Passed

#681 More Alt Title Clothing
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/prisoner.dm
  code/modules/jobs/job_types/quartermaster.dm
  icons/mob/clothing/under/cargo.dmi
  tgstation.dme
  tools/ci/build_tgui.sh
  tools/ci/check_changelogs.sh
  tools/ci/check_filedirs.sh
  tools/ci/check_grep.sh
  tools/ci/dm.sh
  tools/ci/download_byond.sh
  tools/ci/install_byond.sh
  tools/ci/install_rust_g.sh
  tools/ci/install_spaceman_dmm.sh
  tools/ci/template_dm_generator.py
  waspstation/code/modules/clothing/head/cargo.dm
  waspstation/code/modules/clothing/under/jobs/cargo.dm
  waspstation/code/modules/clothing/under/jobs/engineering.dm
  waspstation/code/modules/clothing/under/jobs/medical.dm
  waspstation/code/modules/clothing/under/jobs/security.dm
  waspstation/code/modules/clothing/under/jobs/service.dm
  waspstation/code/modules/jobs/job_types/brigphys.dm
  waspstation/icons/mob/clothing/head.dmi
  waspstation/icons/mob/clothing/under/cargo.dmi
  waspstation/icons/mob/clothing/under/engineering.dmi
  waspstation/icons/mob/clothing/under/medical.dmi
  waspstation/icons/mob/clothing/under/security.dmi
  waspstation/icons/mob/clothing/under/service.dmi
  waspstation/icons/obj/clothing/hats.dmi
  waspstation/icons/obj/clothing/under/cargo.dmi
  waspstation/icons/obj/clothing/under/engineering.dmi
  waspstation/icons/obj/clothing/under/medical.dmi
  waspstation/icons/obj/clothing/under/security.dmi
  waspstation/icons/obj/clothing/under/service.dmi
Labels: Feature, Sprites, Tweak

#703 Adds Waste loop to WS Colony
  _maps/map_files/Mining/Whitesands.dmm
Labels: Feature, Map Change

#717 Make failsafe more descriptive
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#704 Papertown round 2
  _maps/map_files/MidwayStation/MidwayStation.dmm
  _maps/shuttles/emergency_midway.dmm
Labels: Feature, Map Change

#718 Fixes errors with VScode and Linters
  code/__DEFINES/subsystems.dm
  waspstation/code/modules/mapping/writer.dm
Labels: Code Improvement, Fix

#710 Expanding the Scav_mining ruin
  _maps/RandomRuins/SpaceRuins/scav_mining.dmm
  waspstation/code/game/area/areas/ruins/space.dm
Labels: Map Change, Tweak

#719 Fixes DMAPI Update Issues
  code/datums/helper_datums/getrev.dm
  code/modules/tgs/v3210/api.dm
Labels: Fix

#726 Syndicate re-arms their loneop division.
  code/modules/antagonists/nukeop/nukeop.dm
Labels: Fix

#733 Funky firealarms bad
  _maps/map_files/MidwayStation/MidwayStation.dmm
Labels: Fix, Map Change

#721 The Bar and Kitchen update for Meta that no one asked for
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Change, Tweak

#731 Add SGR to protected roles
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/game/gamemodes/traitor/traitor.dm
Labels: Feature, Fix

#737 Meta cleanup
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Feature, Fix, Map Change

#736 delta emergency holopad mapping
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Feature, Map Change

#722 Fixes constructed freezers and heaters not working
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
Labels: Fix

#741 Fix Docker build failing on a clean checkout (TG#56190)
  .dockerignore
  Dockerfile
  tools/bootstrap/node
  tools/ci/run_server.sh
  tools/deploy.sh
Labels: Fix

#728 Removes Plasmeme Hand Check
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: Removal

#735 "wow, this felt way too easy!" - Emergency holopad mapping for Packed Station
  _maps/map_files/PackedStation/PackedStation.dmm
Labels: Feature, Map Change

#725 adds showers and stasis
  _maps/shuttles/emergency_bar.dmm
  _maps/shuttles/emergency_birdboat.dmm
  _maps/shuttles/emergency_box.dmm
  _maps/shuttles/emergency_cere.dmm
  _maps/shuttles/emergency_clown.dmm
  _maps/shuttles/emergency_cruise.dmm
  _maps/shuttles/emergency_delta.dmm
  _maps/shuttles/emergency_donut.dmm
  _maps/shuttles/emergency_goon.dmm
  _maps/shuttles/emergency_imfedupwiththisworld.dmm
  _maps/shuttles/emergency_kilo.dmm
  _maps/shuttles/emergency_luxury.dmm
  _maps/shuttles/emergency_meta.dmm
  _maps/shuttles/emergency_midway.dmm
  _maps/shuttles/emergency_mini.dmm
  _maps/shuttles/emergency_omega.dmm
  _maps/shuttles/emergency_packed.dmm
  _maps/shuttles/emergency_pubby.dmm
  _maps/shuttles/emergency_raven.dmm
  _maps/shuttles/emergency_russiafightpit.dmm
  _maps/shuttles/emergency_wabbajack.dmm
  _maps/shuttles/whiteship_cere.dmm
  _maps/shuttles/whiteship_delta.dmm
  _maps/shuttles/whiteship_donut.dmm
  _maps/shuttles/whiteship_kilo.dmm
  _maps/shuttles/whiteship_midway.dmm
  _maps/shuttles/whiteship_pubby.dmm
Labels: Feature, Map Change
