Repository Whitesands13/Whitesands, pull requests merged in 2021-02, with the labels that each got.

#744 fix
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/PackedStation/PackedStation.dmm
Labels: Fix, Map Change, Removal

#738 pubby holograms and also another thing
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Feature, Map Change

#720 Drinks for every planet
  _maps/RandomRuins/SandCamps/whitesands_surface_camp_adobe.dmm
  _maps/RandomRuins/SandCamps/whitesands_surface_camp_cowboy.dmm
  _maps/RandomRuins/SandCamps/whitesands_surface_camp_survivors.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_waterplant.dmm
  _maps/map_files/Mining/Whitesands.dmm
  tgstation.dme
  whitesands/code/game/objects/effects/spawners/planet.dm
  whitesands/code/modules/food_and_drinks/drinks/bottles.dm
  whitesands/code/modules/food_and_drinks/drinks/cans.dm
  whitesands/code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  whitesands/icons/obj/drinks.dmi
  whitesands/icons/obj/items_and_weapons.dmi
  whitesands/icons/obj/storage.dmi
  whitesands/sound/items/openbottle.ogg
Labels: DME Edit, Feature, Map Change, Sound, Sprites

#734 Emergency holopad mapping for Boxstation and also a few touchups here and there
  _maps/RandomRuins/StationRuins/Box/Engine/budget.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/empty.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_am.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_singulo.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_sm.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_sm_1x3.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_sm_3x.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_sm_5x5.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_teg.dmm
  _maps/RandomRuins/StationRuins/Box/Engine/engine_tesla.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Feature, Fix, Map Change

#755 Autolathe item fixes
  code/game/objects/items/broom.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/lavaland/geyser.dm
  code/modules/modular_computers/computers/item/laptop.dm
  code/modules/modular_computers/computers/item/tablet.dm
  code/modules/recycling/conveyor2.dm
  code/modules/vending/_vending.dm
Labels: Fix, Tweak

#745 CommandoKoishi code bounty
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  tgstation.dme
  whitesands/code/modules/projectiles/guns/ballistic/automatic.dm
  whitesands/sound/weapons/gun/commissar/dontturnaround.ogg
  whitesands/sound/weapons/gun/commissar/dry.ogg
  whitesands/sound/weapons/gun/commissar/magazine.ogg
  whitesands/sound/weapons/gun/commissar/pickup.ogg
  whitesands/sound/weapons/gun/commissar/shot.ogg
Labels: Code Improvement, DME Edit, Feature, Sound

#752 Gives Delta a little love and fixed meta's solgov consulate using wrong area.
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Feature, Fix, Map Change, Removal

#747 Lawnmower mows lawns (er... vines)
  whitesands/code/modules/cargo/packs.dm
  whitesands/code/modules/vehicles/pimpin_ride.dm
Labels: Feature, Tweak

#757 Fixes bonfires not lighting for ashwalkers on lavaland
  code/modules/hydroponics/grown/towercap.dm
Labels: Fix

#746 This kills the 3x3 Freezer / Heater TEG
  code/__DEFINES/maths.dm
  code/modules/power/generator.dm
Labels: Tweak

#750 minor fixes on midway
  _maps/map_files/MidwayStation/MidwayStation.dmm
Labels: Fix, Map Change

#759 Moves the blood box in Surgery B on Box
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Fix, Map Change

#768 ai dorf translation (and other races)
  code/modules/language/language_holder.dm
  code/modules/language/rylethian.dm
  whitesands/code/modules/language/dwarven.dm
  whitesands/code/modules/language/spider.dm
  whitesands/icons/effects/language.dmi
Labels: Feature, Sprites, Tweak

#760 Shuttle in a Box
  whitesands/code/modules/cargo/packs.dm
Labels: Feature

#758 Makes IPC parts actually printable
  code/modules/research/designs/mechfabricator_designs.dm
  whitesands/code/modules/research/techweb/all_nodes.dm
Labels: Fix

#753 Adds new moth based sprites!
  code/_globalvars/lists/flavor_misc.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  icons/mob/ai.dmi
  icons/mob/clothing/wings.dmi
  tgstation.dme
  whitesands/code/modules/mob/dead/new_player/sprite_accessories.dm
  whitesands/icons/mob/moth_wings.dmi
Labels: DME Edit, Feature, Sprites

#748 An Update to the Space Russian Arsenal: The AK-47
  code/modules/cargo/packs.dm
  whitesands/code/modules/cargo/packs.dm
  whitesands/code/modules/projectiles/ammunition/ballistic/rifle.dm
  whitesands/code/modules/projectiles/boxes_magazines/external/rifle.dm
  whitesands/code/modules/projectiles/guns/ballistic/automatic.dm
  whitesands/code/modules/projectiles/projectile/bullets/rifle.dm
  whitesands/icons/obj/ammo.dmi
  whitesands/icons/obj/guns/48x32guns.dmi
Labels: Balance/Rebalance, Code Improvement, Feature, Sprites, Stale

#771 Solars missing
  _maps/map_files/MidwayStation/MidwayStation.dmm
Labels: Feature, Fix, Map Change

#761 Adds solar assemblies to construct-able things in engineering lathes
  code/modules/research/techweb/all_nodes.dm
  tgstation.dme
  whitesands/code/modules/research/designs/power_designs.dm
Labels: DME Edit, Feature, Tweak

#774 Minor map fixes
  _maps/RandomRuins/LavaRuins/lavaland_biodome_clown_planet.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SandRuins/whitesands_surface_starfurycrash.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/shuttles/emergency_scrapheap.dmm
  icons/turf/walls/plastitanium_wall.dmi
Labels: Balance/Rebalance, Feature, Fix, Map Change, Removal, Sprites, Tweak

#775 Fix Buttons Disabled while Buckled
  code/_onclick/hud/alert.dm
  code/modules/mob/living/living.dm
Labels: Fix

#776 Numbers in IPC Name Fix
  code/modules/client/preferences_savefile.dm
Labels: Fix

#619 Boomers Ruin The Economy - Pt. 1: No More Free Materials
  code/datums/components/material_container.dm
  code/game/mecha/mech_fabricator.dm
  code/game/objects/items/RCD.dm
  code/modules/economy/account.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mining/machine_silo.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  code/modules/mob/mob.dm
  code/modules/research/machinery/_production.dm
  tgui/packages/tgui/interfaces/OreRedemptionMachine.js
Labels: Config Update, Feature, TGUI, Tweak

#660 Boomers Ruin The Economy - Pt. 1.5: Account Management
  code/game/objects/items/cards_ids.dm
  code/modules/economy/account.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/prisoner.dm
  code/modules/modular_computers/computers/machinery/console_presets.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/NtosAcctManager.js
  tgui/packages/tgui/interfaces/NtosDeptManager.js
  whitesands/code/modules/modular_computers/file_system/programs/account_management.dm
  whitesands/code/modules/modular_computers/file_system/programs/department_management.dm
Labels: DME Edit, Feature, Stale, TGUI, Tweak

#778 Fixes solgov offices having 2 doors on the same tile
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Change

#773 Added Missing Dwarf Names
  strings/names/dwarf_first.txt
  strings/names/dwarf_last.txt
Labels: Feature, Fix, TGS

#770 Port sql query fixes
  code/controllers/configuration/entries/general.dm
  code/modules/admin/admin.dm
  code/modules/admin/permissionedit.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/topic.dm
  config/config.txt
Labels: Admin, Config, Fix

#786 fix a BSOD bug with ORM on mobs with no account.
  code/modules/mining/machine_redemption.dm
Labels: Fix

#764 rebalances metacoins, adds tons of metacoin items
  code/__DEFINES/~whitesands_defines/metacoin.dm
  code/__HELPERS/roundend.dm
  tools/bootstrap/python
  tools/ci/check_grep.sh
  whitesands/code/modules/client/loadout/loadout_accessories.dm
  whitesands/code/modules/client/loadout/loadout_eyewear.dm
  whitesands/code/modules/client/loadout/loadout_general.dm
  whitesands/code/modules/client/loadout/loadout_hat.dm
  whitesands/code/modules/client/loadout/loadout_suit.dm
  whitesands/code/modules/client/loadout/loadout_uniform.dm
  whitesands/code/modules/metacoin/metacoin.dm
Labels: Balance/Rebalance, Feature, Tweak

#739 Galaxystation 2.0
  _maps/map_files/GalaxyStation/Galaxystation.dmm
  _maps/map_files/GalaxyStation/Galaxystation_LVL2.dmm
  _maps/shuttles/escape_pod_large.dmm
Labels: Feature, Map Change, Tweak

#789 Fixed Missing Metacoin Items
  whitesands/code/modules/client/loadout/loadout_hat.dm
  whitesands/code/modules/client/loadout/loadout_suit.dm
  whitesands/code/modules/client/loadout/loadout_uniform.dm
Labels: Fix
